<div id="loginbody">
<div id="logincontainer" class="container">
  
  
  
  <div id="loginpage" class="d-flex flex-column">
    <div class="row">
    <div class="col-5">
      <img id="loginicon" src="assets/img/login/login-icon.png" alt="login icon image">
    </div>
    
    <div class="col-7">
      <div id="loginitem1" class="p-2">
        <h3 class="h3-title-login">CBM Dashboard</h3>
        <p id="gray" class="p-sub-login">Please login to access CBM Dashboard</p>
      </div>
  
      <div id="loginitem2" class="p-2">
        <form name="form" #loginForm="ngForm" (ngSubmit)="login()">
          <div class="form-group">
            <label for="username" class="label-field-login"></label>
            <div class="row">
            <!--   <div class="col-12">
                  <input type="text" placeholder="Input your NRP here" class="form-control form-style" name="username" name="password"/>
                  <div class="help-block help-block-red">Username is required</div>
              </div> -->
              <div class="col-1" class="form-icon-style">
                <i class="fa fa-user fa-2x"></i>
              </div>
              <div class="col-11">
                   <input type="text" placeholder="Input Your Username Here" class="login-input" id="UserID" name="UserID" [(ngModel)]="dataLogin.UserID" required>
              </div>
            </div>
          </div>
    
    
          <div class="form-group">
            <label for="password" class="label-field-login"></label>
            <div class="row">
             <!--  <div class="col-12">
                <input type="password" placeholder="Input your password here" class="form-control form-style" name="password"/>
                <div class="help-block help-block-red">Password is required</div>
              </div> -->
              <div class="col-1" class="form-icon-style">
                <i class="fa fa-lock fa-2x"></i>
              </div>
               <div class="col-11">
                   <input type="text" placeholder="Input Your Password Here" class="login-input" id="Password" name="Password" [(ngModel)]="dataLogin.Password" required>
              </div>
            </div>
          </div>
    
         <div class="form-group">
              <button id="login btn" type="submit" class="btn btn-warning px-2 my-button button-login" [disabled]="!loginForm.form.valid" *ngIf="!loading">Login</button>
              <button type="submit" class="btn btn-warning px-2 my-button button-login" [disabled]="loginForm.form.valid" *ngIf="loading"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button>
         <!--       <button type="submit" class="btn btn-primary my-button button-login" ><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button> -->
          </div> 
        </form>
      </div>  
    </div>
    </div>
  </div>
</div>
</div>


<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Login gagal!</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <p>One fine body&hellip;</p> -->
        <p>{{loginErrorMessage}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>