<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  
  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
    </li>
  </ul>
    <!-- <li class="nav-item px-1">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item px-1">
      <a class="nav-link" href="#">Users</a>
    </li>
    <li class="nav-item px-1">
      <a class="nav-link" href="#">Settings</a>
    </li>
  </ul> -->
  <!-- <ul class="nav navbar-nav ml-auto">
    <li class="nav-item hidden-md-down">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li>
    <li class="nav-item hidden-md-down">
      <a class="nav-link" href="#"><i class="icon-list"></i></a>
    </li>
    <li class="nav-item hidden-md-down">
      <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
    </li>
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
        <span class="hidden-md-down">admin</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" dropdownMenu aria-labelledby="simple-dropdown">

        <div class="dropdown-header text-center"><strong>Account</strong></div>

        <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a>

        <div class="dropdown-header text-center"><strong>Settings</strong></div>

        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
        <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-default">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
    <li class="nav-item hidden-md-down">
      <a class="nav-link navbar-toggler aside-menu-toggler" href="#">&#9776;</a>
    </li>
  </ul> -->


  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item px-1">
      <a class="nav-link" href="#"><i class="fa fa-envelope-o fa-2x"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li>
    <li class="nav-item px-1">
      <a class="nav-link" href="#"><i class="fa fa-cog fa-2x"></i></a>
    </li>
    <li class="nav-item px-1">
      <a class="nav-link" href="#"><i class="fa fa-user fa-2x"></i></a>
    </li>
    <li class="nav-item px-1">
      <a class="nav-link" href="#">User</a>
    </li>
    <li class="nav-item hidden-md-down">
      <a class="nav-link" href="#"><i class="fa fa-power-off fa-2x"></i></a>
    </li>
  </ul>
  
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link title" routerLinkActive="active" [routerLink]="['/components/home']"><i class="fa fa-home"></i> Home</a>
        </li>
        
        <!-- <li class="divider"></li>
        <li class="nav-title">
          UI Elements
        </li> -->
        <li class="nav-item nav-dropdown" routerLinkActive="open">
          <a class="nav-link title nav-dropdown-toggle navbar-font" href="#"><i class="fa fa-line-chart"></i> Dashboard & Transaction</a>
          <ul class="nav-dropdown-items" style="padding-left: 30px;">
            <li class="nav-item ">
              <a class="nav-link navbar-font" routerLinkActive="active" [routerLink]="['/components/general']"><i class="fa fa-area-chart"></i> General</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-font" routerLinkActive="active" [routerLink]="['/components/health-score']"><i class="fa fa-bar-chart"></i> Health Score</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-font" routerLinkActive="active" [routerLink]="['/components/kpi']"><i class="fa fa-pie-chart"></i> KPI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-font" routerLinkActive="active" [routerLink]="['/components/alert']"><i class="fa fa-exclamation-circle"></i> Alert</a>
            </li>
          <li class="nav-item">
              <a class="nav-link navbar-font" routerLinkActive="active" [routerLink]="['/components/pcarlist']"><i class="fa fa-list-alt"></i> PCAR List</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link navbar-font" routerLinkActive="active" [routerLink]="['/components/upload']"><i class="fa fa-upload"></i> Upload</a>
            </li> -->

            <!-- <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/pcar']"><i class="icon-puzzle"></i> PCAR Review</a>
            </li> -->


           <!--  <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/switches']"><i class="icon-puzzle"></i> Switches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/tables']"><i class="icon-puzzle"></i> Tables</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/tabs']"><i class="icon-puzzle"></i> Tabs</a>
            </li> -->
          </ul>
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open">
          <a class="nav-link title nav-dropdown-toggle navbar-font" href="#"><i class="fa fa-star"></i> Master Data</a>
          <ul class="nav-dropdown-items" style="padding-left: 30px;">
            <li class="nav-item">
              <a class="nav-link navbar-font" routerLinkActive="active" [routerLink]="['/components/threshold']"><i class="fa fa-database"></i> Threshold</a>
            </li>

            
            <li class="nav-item">
              <a class="nav-link navbar-font" routerLinkActive="active" [routerLink]="['/components/analysis-master']"><i class="fa fa-database"></i> Analysis Master</a>
            </li>


            <li class="nav-item">
              <a class="nav-link navbar-font" routerLinkActive="active" [routerLink]="['/components/recommendation']"><i class="fa fa-database"></i>  Recommendation</a>
            </li>
        <!--     <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/data-requirement']"><i class="icon-star"></i> Data Requirement</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link navbar-font" routerLinkActive="active" [routerLink]="['/components/parameter-master']"><i class="fa fa-database"></i> Parameter Master</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-font" routerLinkActive="active" [routerLink]="['/components/solving-master']"><i class="fa fa-database"></i> Solving Master</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link navbar-font" routerLinkActive="active" [routerLink]="['/components/solving-analysis']"><i class="icon-star"></i> Solving Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-font" routerLinkActive="active" [routerLink]="['/components/solving-recommendation']"><i class="icon-star"></i> Solving Recommendation</a>
            </li> -->
          </ul>
        </li>
        <li class="nav-item">
              <a class="nav-link title navbar-font" routerLinkActive="active" [routerLink]="['/components/user-management']"><i class="fa fa-users"></i> User Management</a>
        </li>
        <li class="nav-item nav-dropdown" >
          <a class="nav-link title nav-dropdown-toggle navbar-font" routerLinkActive="open" [routerLink]="['/components/report']"><i class="fa fa-file-o"></i> Report</a>
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open">
          <a class="nav-link title nav-dropdown-toggle navbar-font" href="#"><i class="fa fa-wrench"></i>Configuration</a>
          <ul class="nav-dropdown-items" style="padding-left: 30px;">
            <li class="nav-item ">
              <a class="nav-link navbar-font" routerLinkActive="active" style="font-size: 14px;" [routerLink]="['/components/unit-conversion']"><i class="fa fa-arrows"></i> Unit Conversion</a>
            </li>
            
            <li class="nav-item ">
              <a class="nav-link navbar-font" routerLinkActive="active" style="font-size: 14px;"><i class="fa fa-arrows"></i> Analysis Conversion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-font" routerLinkActive="active" style="font-size: 14px;"><i class="fa fa-arrows"></i> Recommendation Conversion</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link navbar-font" routerLinkActive="active" style="font-size: 14px;" ><i class="fa fa-comments"></i> SMS</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link navbar-font" routerLinkActive="active" style="font-size: 14px;"><i class="fa fa-envelope-o"></i> Email</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link title" routerLinkActive="active" [routerLink]="['/components/login']"><i class="fa fa-user"></i> Log In</a>
        </li> 
        <!-- <li class="divider"></li>
        <li class="nav-title">
          Extras
        </li>
        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Pages</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/login']"><i class="icon-star"></i> Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/register']"><i class="icon-star"></i> Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/404']"><i class="icon-star"></i> Error 404</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/500']"><i class="icon-star"></i> Error 500</a>
            </li>
          </ul>
        </li>  -->
        
      </ul>
    </nav>
  </div>

   <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <!-- <ol class="breadcrumb">
      <breadcrumbs></breadcrumbs>
    </ol> -->

    <div class="">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>

  
</div>

<!-- <footer class="app-footer">
  <a href="http://coreui.io">CoreUI</a> &copy; 2017 creativeLabs.
  <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a></span>
</footer> -->
