
<!--  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">   -->

<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script> -->



<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script> -->


<div id="approvaltitlebox">
  <div class="row" style="background-color: white;">
      <div id="approvaltitle" class=col>
        <p>Threshold</p>
      </div>
  </div>

    <div class="row" style="padding: 20px;">
    <div class="col-lg-12" style="padding-top: 20px;">
    <div class=" my-card">
      <div class="my-card-header2"> 
          <ul class="nav nav-tabs-active fontcolortab" style="padding-top: 5px;" >
                <p> <span class="headerfont" style="padding-bottom: 1px;">Threshold</span></p>    
                <li style="float: right;margin-right: auto;"></li>
               <!--  <a class="nav-link" style="padding-top: 10px; color:white" data-toggle="modal" (click)="warningModal.show();"><i class="fa fa-plus-circle fa-2x "></i></a> -->
               <!--  <a class="nav-link" style="padding-top: 10px; color:white" ><i class="fa fa-download fa-2x "></i></a> -->
          </ul>

           <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
                
              </div>
      </div>
      <table id="table1" datatable="ng" dt-options dtTrigger class="row-border hover">
         <thead>
                    <tr>
                      <th class="headertable" >No</th>
                      <th class="headertable" >Threshold ID</th>
                      <th class="headertable" >Criteria</th>
                      <th class="headertable" >Error Bottom</th>
                      <th class="headertable" >Error Top</th>
                    </tr>
        </thead>
        <tbody>
                      <tr>
                         <td>70071871
                          </td>
                          <td>Service
                          </td>
                          <td>PS 250 EX1713
                          </td>
                          <td>PC2000
                          </td>
                          <td>FM-ADRTP
                          </td> 
                      </tr>
                      <tr>
                          <td>aaaa
                          </td>
                          <td>bbbb
                          </td>
                          <td>cccc
                          </td>
                          <td>dddd
                          </td>
                          <td>eeee
                          </td> 
                      </tr>
        </tbody>
      </table>

    </div>
  </div>
  </div>
</div>

























   