
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.google.com/specimen/Source+Sans+Pro); */
@font-face{
    font-family: "SourceSansPro";
    src: url('/assets/fonts/SourceSansPro.woff2') format('woff2');
}
/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
@font-face{
    font-family: "Roboto";
    src: url('/assets/fonts/SourceSansPro.woff2') format('woff2');
}


body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

label{margin-left: 20px;}
#datepicker{width:180px; margin: 0 20px 20px 20px;}
#datepicker > span:hover{cursor: pointer;}



.Balloon-Copy {
  background-color: #ffffff;
  box-shadow: 0 0 0 1px rgba(9, 30, 66, 0.08);
  margin-bottom:20px;
  padding: 10px;
  font-size: 36px;
}


.header-ja{
 background-color: white;
color: black;

}

.searchfield{
  background-color: #ffffff;
  height: 51px;
  margin-bottom: 12px;
  border-radius: 6px;
}

.searchtext{
  /*  border-radius: 6px;*/
    border-color: #191919;
    width: 94%;
    height: 45px;
    border-style: none;
    padding: 12px;
    font-size: 16px;
}

.searchbutton{
  height: 45px;
  padding: 0px;
  background-color: #ffc400;
  width: 5.65%;
  height: 51px;
  border-radius: 0 6px 6px 0px;
  border: none;
}

.headertable{
  text-align: center;
  background-color: #ffc400;
  border-top: 0px;
  border-bottom: 0px;
  font-family: SourceSansPro;

}

.navbar-font{
  color: #ffc400;
  font-family: SourceSansPro;
  font-size: 16px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.headercolor {
	background: #FFD800;
}

.headercolor:hover {
	background: #ffffff;
}

.my-card-header1 {
	background-color: #ffc400;
  height: 36px;

}

.my-card-header2 {
	background-color: #999999;
	border-radius: 5px 5px 0 0;
}

.my-card-header3 {
  background-color: #191919;
}

.nav-float{
	padding-right: 0px;
	float: right;
}

.my-card {
    border-radius: 2px 2px 0 0;
    height: 90px;
    background-color: #999999;
}

.headerfont { color: #ffffff; 
	font-size: 16pt; 
	text-align: center;
	padding-left : 20px;
}

.text-center {
   text-align:center
}

.lineheight{
	line-height: 0px;}

.unactivebackgroundtab{
    background-color: #191919;
      border-radius: 16px 16px 0 0;
}

.unactivebackgroundtab:hover{
    background-color: #FFD800;
      border-radius: 16px 16px 0 0;
}

.activebackgroundtab{
    background-color: #FFD800;
      border-radius: 16px 16px 0 0;
}

.activebackgroundtab:hover{
    background-color: #FFD800;
      border-radius: 16px 16px 0 0;
}

.fontcolortab{
   font-color:#ffffff;
}

.headertab1 { color: #191919; 
	height:25px;
}

.filterbox{
	  border-radius: 16px 16px 0 0;

}

.card-atr {
	padding: 5px;
	border-radius: 16px;
  padding-left: 25px;"
}

.filtertext{
	padding:  10px;
	text-align: left;
}

.padd-options{
padding-bottom: 50px;
}

.filterbutton{
	background-color:#ffc400;
	width: 150px;
	height: 25px;
	border-radius: 16px;
}

.processbutton{
	background-color:#ffc400;
	width: 100px;
	height: 50px;
	border-radius: 16px;
	float:left;
}

.uploadbutton{
/*  background-color:#ffc400;
  width: 100px;
  height: 33px;
  border-radius: 5px;
  float:left;
  margin-top: 6px;
  margin-right:10px;
  margin-left: 6px;*/

  background-color: #ffc400;
  width: 100px;
  height: 23px;
  border-radius: 3px;
  float: right;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 6px;
  border: 1px solid lightgray;
  height: 26px;
  border-radius: 5px;

}

.fileinput{
 /*   padding: 3px;
    height: 33px;
    margin-top: 6px;
    */
    border-radius: 5px;
/*    border: 1px solid gray;*/
    height: 24px;
    margin-top: 12px;
    width: 358px;

}

.button-space{
	padding-right: 100px;
}

.iconheader{
	float:right;
}

.rowyellow {
  height:60px;
  padding-top:5px;
  border-top:0px;
}

.rowwhite {

  height:300px;
  padding-top:5px;
}

.rowyellow2 {
  background-color:#FFD800;
  height:40px;
}

.chartpcar {
  background-color:#ffffff;
  border: 0px;
}

.cardcustom {
  margin-bottom: 1.5 * $spacer-y;
  border: none;
   border-radius: 16px 16px 0 0;
}

.cardcustom2{
  padding-top: 15px;
border-radius: 16px 16px 0 0;
position: relative;
background-color: #191919;
border: 0px;
height: 100px;
}

.form-control-custom{
display: block;
width: 100%;
padding: 10px;
font-size: 0.875rem;
line-height: 1.25;
/*color: #ffffff;*/
background-color: #fff;
background-image: none;
background-clip: padding-box;
border: 0px;
border-radius: 0;
}

.nav-acitve-custom{
color: #191919;
background: #ffd800;
border:none;
}

.combobox {
display: block;
width: 100%;
padding: 0.5rem 0.75rem;
font-size: 0.875rem;
line-height: 1.25;
color: #000000;
background-color: #fff;
background-image: none;
background-clip: padding-box;
border-radius: 5px 5px 5px 5px;
}

.borderright{
  border-right: 30px;
  border-color: #191919;
  
}

.textheader{
    border: 1px;
    width: 220px;
    border-color: gray;
    border-style: solid;
    border-radius: 8px;
    height: 30px;
    text-align: center;
}

.searchfield{
  background-color: #ffffff;
  height: 48px;
  margin-bottom: 12px;
  border-radius: 8px;
}

.searchtext{
    border-radius: 8px;
    border-color: #191919;
    height: 48px;
    border-style: none;
    padding: 12px;
    font-size: 16px;
}

.searchbutton1{
    height: 48px;
    float: right;
    margin-right: 30px;
    /*width: 150px;*/

    background-color: #ffffff;
    border-right: none;
    border-bottom: none;
    border-top: none;
     font-size: larger; 
     color: gray;
}




.dropdown {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

a {
  color: #fff;
}

.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}

.dropdown ul {
  margin: -1px 0 0 0;
}

.dropdown dd {
  position: relative;
}

.dropdown a,
.dropdown a:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 12px;
}

.dropdown dt a {
  background-color: #4F6877;
  display: block;
  padding: 8px 20px 5px 10px;
  min-height: 25px;
  line-height: 24px;
  overflow: hidden;
  border: 0;
  width: 272px;
}

.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}

.dropdown dd ul {
  background-color: #4F6877;
  border: 0;
  color: #fff;
  display: none;
  left: 0px;
  padding: 2px 15px 2px 5px;
  position: absolute;
  top: 2px;
  width: 280px;
  list-style: none;
  height: 100px;
  overflow: auto;
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown dd ul li a:hover {
  background-color: #fff;
}

.button-filter{
  margin-left: 50px;
  width: 100px;
  border-radius: 4px;
  height: 30px;
  line-height: 15px;
}

#approvaltitle{
  margin: 1%;
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
 /* background-color: white;*/
}

.modals-add{
  color: black;
  border: 1px solid lightgray;
  border-radius: 6px;
}

.modals-solving{
  color: black;
  border: 1px solid lightgray;
 /* border-radius: 6px;*/
}

.title {
 /* width: 199px;*/
  height: 43px;
/*  font-family: SourceSansPro;*/
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: left;

}

#for-tabset li.nav-item.active a.nav-link.active {
  color: #1d1c1c !important;
  background-color: #ffffff !important;
  text-decoration: none;
  font-family: SourceSansPro;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  border: none;
  border-bottom:solid 2px #ffc400;
  width: 100%;
  text-align: center;
}

#for-tabset li.nav-item {
  color: rgba(29, 28, 28, 0.5);
  background-color: white;
  text-decoration: none;
  font-family: SourceSansPro;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  width: 100%;

}
#for-tabset ul.nav.nav-tabs{
  background-color: white;
  width: 100%;
  text-align: center; 
}


.criticality{
    border-radius: 4px;
    border: 1px solid lightgray;
    padding: 3px;
}

.boxcriticality{
    border: 1px solid lightgray;
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 18px;
}

.upload-doc{
  font-size: 12px;
  color: grey;
  margin-bottom: -5px;
}




.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
  margin-right: 5px;/* margin search box*/
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
  width:500px; /*width search box*/
}


/*input file tanpa modals*/
/*input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}*/


.login-input{
  border:1px solid lightgray; 
  border-radius:5px; 
  color:black;
  height: 35px;
  padding: 10px;
  width: 325px;
}
/*
.login-icon{
  background-color: white;
  border: none;
}*/

/* Login starts here */
#loginbody{
  background-image: url(/assets/img/login/background-login.jpg);
  height: 140%;
  width: 100%;
  background-repeat: round;
}

#logincontainer{
  padding-top:5%;
  padding-bottom:5%;
  padding-right:10%;
  padding-left:10%;
}

#loginicon{
  margin-left:100px;
  margin-top:100px;
  height:330px;
  width:65%
}

#loginpage{
  height:200px;
  width: 892px;
  height: 500px;
  border-radius: 6px;
  background-color: white;
}

#loginbtn{
  margin-left:100px;
  width:30%;
}

#loginitem1{
  margin-right: 88px;
  margin-top:32px;
}

#loginitem2{
  margin-right: 88px;
}

.help-block-red{
  color: #E74C3C;
  font-family: SourceSansPro;
}

.label-field-login{
  margin: 0;
  line-height: 1.78;
  font-weight: 600;
  font-family: SourceSansPro;
  font-size: 16px;
}
/*Login ends here*/



