<br>
<h3 style="padding-left:30px;">Data Requirement</h3>

<div class="row" style="padding: 20px;">
    <div class="col-lg-12" style="padding-top: 20px;">
     
<div class="searchfield ">
  <input class= "searchtext" id="searchfield" type="text" placeholder="Search Keyword Here ...">
  <button type="submit" class="searchbutton1">Search
  </button>
</div>

<br>


      <div class="card my-card">
        <div class="my-card-header2"> 

          <ul class="nav nav-tabs-active fontcolortab" style="padding-top: 5px;" >
          <p> <span class="headerfont" style="padding-bottom: 1px;">Data Requirement</span></p>    
      
         <li style="float: right;margin-right: auto;" ></li>
                <a class="nav-link" style="padding-top: 10px; color:white" href="#"><i class="fa fa-plus-circle fa-2x "></i></a>
                <a class="nav-link" style="padding-top: 10px; color:white" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
                <a class="nav-link" style="padding-top: 10px; color:white" href="#"><i class="fa fa-floppy-o fa-2x"></i></a>

<!-- 
   <div class="search" style="padding-top: 10px;">
                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                 <button type="submit" class="searchButton">
                  <i class="fa fa-search"></i>
               </button>
             </div> -->




         </ul>
  </div>

          <table class="table table-hover table-striped table-sm" style="border-bottom: 0px;">
            <thead>
              <tr class="my-card-header1">
                <th class="text-center" style="width: 6%; border-bottom: 0px; border-right: 1px solid white; width: 50px; padding-bottom: 0.5%;">No</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 0.5%;">Source</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white;padding-bottom: 0.5%;">Data</th>
                <th class="text-center" style="border-bottom: 0px; padding-bottom: 0.5%;">Function</th>
              </tr>
            </thead>
            <tbody>
            	<td>
                     <input type="text" class="form-control-custom" id="no" placeholder="No">
                </td>
                <td>
                      <select class="form-control-custom" id="source" style="height: 37px;">
                        <option>Table 1</option>
                        <option>Table 2</option>
                        <option>Table 3</option>
                    </select>
                </td>
                <td>
                    <select class="form-control-custom" id="data" style="height: 37px;">
                        <option>Data 1</option>
                        <option>Data 2</option>
                        <option>Data 3</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control-custom" id="function" placeholder="Function">
                </td>
            </tbody>
          </table>


          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#" style="color: #191919;">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">2</a></li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">3</a></li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">4</a></li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">Next</a></li>
            </ul>
          </nav>
     
      </div>
</div>
</div>

   