<div class="col-lg-12 col-md-12">
                     
                            <iframe frameborder="0" marginheight="0" marginwidth="0" title="data visualization" allowtransparency="true" allowfullscreen="true"
                              class="tableauViz" style="display: block; width: 100%; height: 1068px; margin: 0px; padding: 0px; border: none;"
                              src="http://10.2.51.103/views/KPI-Dashboard/KPI?:embed=y&:showAppBanner=false&:display_count=no&:showVizHome=no&amp;:host_url=https%3A%2F%2Fpublic.tableau.com%2F&amp;:embed_code_version=3&amp;:toolbar=yes&amp;:animate_transition=yes&amp;:display_static_image=no&amp;:display_spinner=no&amp;:display_overlay=yes&amp;:display_count=yes&amp;:loadOrderID=0"></iframe>
                          </div>

