
<!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>  -->


<div id="approvaltitlebox">
  <div class="row" style="background-color: white;">
    <div id="approvaltitle" class=col>
      <p>Parameter Master</p>
    </div>
  </div>
  <div class="row" style="padding: 20px;">
    <div class="col-lg-12" style="padding-top: 20px;">
      <div class=" my-card">
        <div class="my-card-header2">
          <ul class="nav nav-tabs-active fontcolortab" style="padding-top: 5px;">
            <p> <span class="headerfont" style="padding-bottom: 1px;">Parameter Master</span></p>
            <li style="float: right;margin-right: auto;"></li>
          <!--   <a class="nav-link" style="padding-top: 10px; color:white" data-toggle="modal" (click)="warningModal.show();"><i class="fa fa-plus-circle fa-2x "></i></a> -->
            

            <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-warning " role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Add New Parameter Master</h5>
                  </div>
                  <div class="modal-body">

        <div *ngIf="anAvail" class="alert alert-warning" role="alert">Data {{ dataPara.source }}, {{ dataPara.Parameter}}, {{ dataPara.Component}} sudah ada. Mohon masukkan Data lain.</div>

                    <!-- Form Analysis -->
                    <form class="form-horizontal" (ngSubmit)="addNewAnalysis()" #newContentForm="ngForm">
                      <ng-container>
                        <div class="form-group ">
                          <p>Parameter ID<input type="text" style="color:black" class="form-control-custom modals-add" id="Parameter_id"
                              name="checkInput2" [(ngModel)]="idParameter" disabled></p>
                        </div>
                        <div class="form-group">
                          <p>Source
                            <select class="form-control-custom modals-add" style="height:39px" name="trend_source" id="trend_source" disable aria-required="true" required="true" [(ngModel)]="trend_source"
                              (ngModelChange)="onChangeSource(null, $event)">
                                <option disabled selected value="null">Pilih Source</option>
                                  <ng-container *ngFor="let t of trendData">
                                <option [ngValue]="t">{{t.trend_source}}</option>
                                  </ng-container>
                              </select>
                          </p>
                        </div>
                        <div class="form-group">
                          <p>Parameter
                            <select class="form-control-custom modals-add" style="height:39px" name="parameter" id="parameter" disable aria-required="true" required="true" [(ngModel)]="Parameter" (ngModelChange)="onChangeParameter(null, $event)">
                                <option disabled selected value="null">Pilih Parameter</option>
                                  <ng-container *ngFor="let p of trendDataname">
                                <option [ngValue]="p">{{p.trend_name}}</option>
                                  </ng-container>
                              </select>
                          </p>
                        </div>
                        <div class="form-group">
                          <p>Combination<input type="text" style="color:black;" class="form-control-custom modals-add" id="combination"
                              name="combination" [(ngModel)]="dataPara.combination" required="true"></p>
                        </div>
                        <div class="form-group">
                          <!-- <p>Parameter<input type="text" style="color:black;" class="form-control-custom modals-add" id="Parameter" name="checkInput"
                                  [(ngModel)]="dataPara.Parameter" required="true"></p> -->
                          <!--  <p>Model<input type="text" style="color:black;" class="form-control-custom modals-add" id="Model" name="checkInput3" [(ngModel)]="dataPara.Model"
                                  required="true"></p> -->
                          <p>Component<input type="text" style="color:black;" class="form-control-custom modals-add" id="Component"
                              name="checkInput4" [(ngModel)]="dataPara.Component" required="true"></p>
                        </div>
                      </ng-container>
                      <!-- <h6 style="font-size:12px; color:grey;"> * Nama Parameter tidak mengizinkan spasi di awal dan/atau diakhir </h6> -->

                      <button type="submit" class="btn btn-primary my-button2" [disabled]="!newContentForm.form.valid" *ngIf="!submitted">Add</button>
                      <button type="submit" class="btn btn-primary my-button2" [disabled]="newContentForm.form.valid" *ngIf="submitted"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button>
                    </form>
                    <!-- Form Analysis -->

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>

        <!-- <table class="table table-hover table-striped table-sm" style="border-bottom: 0px;">
            <thead>
              <tr class="my-card-header1">
                <th class="text-center" style="width: 6%; border-bottom: 0px; border-right: 1px solid white; width: 50px; padding-bottom: 0.5%;">No</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 0.5%;">Parameter ID</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white;padding-bottom: 0.5%;">Parameter Name</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white;padding-bottom: 0.5%;">Component</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white;padding-bottom: 0.5%;">Model</th>
                <th class="text-center" style="border-bottom: 0px; border-right:  padding-bottom: .5%;">Actions</th>

              </tr>
            </thead>
          <tbody>
            <tr *ngFor="let item of pagedItems; let index = index">
              <td style="padding: 10px;">{{index + 1}}</td>
              <td style="padding: 10px;">{{item.Parameter_id}}</td>
              <td style="padding: 10px;">{{item.Parameter}}</td>
              <td style="padding: 10px;">{{item.Component}}</td>
              <td style="padding: 10px;">{{item.Model}}</td>
              <td style="text-align:center">
                <a style="color:black" (click)="willEditContent(content,item)"><i class="fa fa-pencil" style="font-size: 150%;"></i></a>
                <a style="color:black" (click)="warningModal2.show(); willDeleteContent(content,item)"><i class="fa fa-times-circle fa-2x"></i></a></td>
            </tr>
          </tbody>
          </table> -->



        <table id="table1" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr class="my-card-header1">
              <th class="headertable">No</th>
              <th class="headertable">Parameter ID</th>
              <th class="headertable">Parameter Name</th>
              <th class="headertable">Component</th>
              <th class="headertable">UOM</th>
              <th class="headertable">Source</th>
              <th class="headertable">Actions</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of contents; let index = index">
              <td style="padding: 10px;">{{index + 1}}</td>
              <td style="padding: 10px;">{{item.Parameter_id}}</td>
              <td style="padding: 10px;">{{item.Parameter}}</td>
              <td style="padding: 10px;">{{item.Component}}</td>
              <td style="padding: 10px;">{{item.uom}}</td>
              <td style="padding: 10px;">{{item.source}}</td>
              <td style="text-align:center">
                <a (click)="willEditContent(content,item)"><i class="fa fa-pencil" style="font-size: 150%;"></i></a>
                <a (click)="warningModal2.show(); willDeleteContent(content,item)"><i class="fa fa-times-circle fa-2x"></i></a></td>
            </tr>
          </tbody>
        </table>

        <div bsModal #warningModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" > 
          <div class="modal-dialog modal-warning" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Hapus Data</h4>
                <button type="button" class="close" (click)="warningModal2.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div *ngIf="!dinasExist" class="modal-body">
                <!-- <p>One fine body&hellip;</p> -->
                <p>Apakah anda yakin ingin menghapus Parameter ini?</p>
                <h5>{{contentTitleWillBeDeleted}}</h5>
              </div>
              <div *ngIf="!dinasExist" class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="warningModal2.hide()">Batalkan</button>
                <button type="button" class="btn btn-primary" (click)="deleteContent(content, item); warningModal2.hide()">Hapus</button>
              </div>
            </div>
          </div>
        </div>

        <div class="animated fadeIn" *ngIf="showEditContent" style="margin-top: 10px;">
        <div *ngIf="anAvail" class="alert alert-warning" role="alert">Data {{ para.source }}, {{ para.Parameter}}, {{ para.Component}} sudah ada. Mohon masukkan Data lain.</div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card my-card-style">
                <div class="card-header my-card-header">
                  <i class="fa fa-edit"></i>Edit Parameter
                  <div class="card-actions">
                    <a class="btn-close" (click)="cancelEdit()"><i class="icon-close"></i></a>
                  </div>
                </div>
                <div class="card-block">
                  <form class="form-horizontal" (ngSubmit)="editContent()" #newContentForm="ngForm">
                    <!-- News -->
                    <ng-container>
                      <div class="form-group">
                        <p>Source
                          <select class="form-control-custom modals-add" style="height:39px"  name="trend_source" id="trend_source" disable aria-required="true" required="true" [(ngModel)]="trend_source"
                            (ngModelChange)="onChangeSourceEdit(null, $event)">
                                <option disabled selected value="null">Pilih Source</option>
                                  <ng-container *ngFor="let t of trendData">
                                <option [ngValue]="t">{{t.trend_source}}</option>
                                  </ng-container>
                              </select>
                        </p>
                      </div>
                      <div class="form-group">
                        <p>Parameter
                          <select class="form-control-custom modals-add" style="height:39px" name="parameter" id="parameter" disable aria-required="true" required="true" [(ngModel)]="Parameter" (ngModelChange)="onChangeParameterEdit(null, $event)">
                                <option disabled selected value="null">Pilih Parameter</option>
                                  <ng-container *ngFor="let p of trendDataname">
                                <option [ngValue]="p">{{p.trend_name}}</option>
                                  </ng-container>
                              </select>
                        </p>
                      </div>
                      <div class="form-group">
                        <p>Combination<input type="text" style="color:black;" class="form-control-custom modals-add" id="combination"
                            name="combination" [(ngModel)]="para.combination" required="true"></p>
                      </div>
                      <div class="form-group">
                        <!-- <p>Parameter<input type="text" style="color:black;" class="form-control-custom modals-add" id="Parameter" name="checkInput"
                                  [(ngModel)]="dataPara.Parameter" required="true"></p> -->
                        <!--  <p>Model<input type="text" style="color:black;" class="form-control-custom modals-add" id="Model" name="checkInput3" [(ngModel)]="dataPara.Model"
                                  required="true"></p> -->
                        <p>Component<input type="text" style="color:black;" class="form-control-custom modals-add" id="Component"
                            name="checkInput4" [(ngModel)]="para.Component" required="true"></p>
                      </div>
                    </ng-container>

                    <div class="form-actions">
                      <button type="submit" class="btn btn-primary my-button2" [disabled]="!newContentForm.form.valid" *ngIf="!submitted">Simpan</button>
                      <button type="submit" class="btn btn-primary my-button2" [disabled]="newContentForm.form.valid" *ngIf="submitted"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button>
                      <button class="btn btn-default my-button-secondary" type="button" (click)="cancelEdit()">Batalkan</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <nav>
            <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
              <li class="page-item" [class.disabled]="pager.currentPage === 1">
                <a (click)="setPage(1)" class="page-link" style="color: #191919;">First</a>
              </li>
              <li class="page-item active" [class.disabled]="pager.currentPage === 1">
                <a class="page-link" style="color: #191919;" (click)="setPage(pager.currentPage - 1)">Prev</a>
              </li>
              <li class="page-item" *ngFor="let page of pager.pages" [class.active]="pager.currentPage === page">
                <a (click)="setPage(page)" class="page-link" style="color: #191919;">{{page}}</a>
              </li>
              <li class="page-item" [class.disabled]="pager.currentPage === pager.totalPages">
                <a (click)="setPage(pager.currentPage + 1)" class="page-link" style="color: #191919;">Next</a>
              </li>
              <li class="page-item" [class.disabled]="pager.currentPage === pager.totalPages">
                <a class="page-link" (click)="setPage(pager.totalPages)" style="color: #191919;">Last</a>
              </li>

            </ul>
          </nav> -->

      </div>
    </div>
  </div>
</div>