<div id="approvaltitlebox">
  <div class="row" style="background-color: white;">
      <div id="approvaltitle" class=col>
        <p>PCAR List</p>
      </div>
  </div>

    <div class="row" style="padding: 20px;">
    <div class="col-lg-12" style="padding-top: 20px;">
    <div class="">
      <ul class="nav nav-tabs-active fontcolortab"  >
                <p> <span class="headerfont" ></span></p>  
              </ul>
  

 <!-- <table class="table table-hover table-striped table-sm" style="border-bottom: 0px;">
            <thead>
              <tr class="my-card-header1">
                <th class="text-center" style="width: 6%; border-bottom: 0px; border-right: 1px solid white; width: 50px; padding-bottom: 1%;">No</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding: 4px;width: 16%;padding-bottom: 1%;">PCAR ID</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 1%;">Site</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 1%;">Customer</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 1%;">Model</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 1%;">SN</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 1%;">Component</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 1%;">Status</th>
                <th class="text-center" style="border-bottom: 0px; padding-bottom: 1%;">     </th>
              </tr>
            </thead>

          <tbody>
            <tr *ngFor="let pcar of pcarList">
              <td>
                    <input type="text" class="form-control-custom" id="no" placeholder="1">
                </td>
                <td>
                   <input type="text" class="form-control-custom" id="pcarid" placeholder="{{ pcar.PCAR_id }}">
                </td>
                <td>
                      <input type="text" class="form-control-custom" id="Site" placeholder="{{ pcar.Plnt }}">
                </td>
                <td>
                    <input type="text" class="form-control-custom" id="Customer" placeholder="{{ pcar.Cust_Name }}">
                </td>
                <td>
                    <input type="text" class="form-control-custom" id="Model" placeholder="{{ pcar.Model_no }}">
                </td>
                <td>
                    <input type="text" class="form-control-custom" id="SN" placeholder="{{ pcar.Serial_number }}">
                </td>
                <td>
                    <input type="text" class="form-control-custom" id="Component" placeholder="{{ pcar.Component }}">
                </td>
                <td>
                    <input type="text" class="form-control-custom" id="Status" placeholder="Unscheduled">
                </td>
                <td>
                 <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/pcar', pcar.PCAR_id, pcar.alert_id]">
                <button type="submit" style="background-color: black;color: white;border-radius: 8px 8px 8px 8px;" class="">View</button></a>
                </td>
              </tr>
            </tbody>
          </table>  -->


        <table id="table1" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
               <thead>
              <tr class="my-card-header1">
<!--                 <th class="headertable" style="width:20px;">No</th> -->
            <!--     <th class="headertable" rowspan="2">PCAR ID</th> -->
                <th class="headertable" rowspan="2">Site</th>
                <th class="headertable" rowspan="2">Customer</th>
                <th class="headertable" rowspan="2">Model</th>
                <th class="headertable" rowspan="2">SN</th>
                <th class="headertable" rowspan="2">Unit Code </th>
                <th class="headertable" colspan="3">Component</th>
                <th class="headertable" rowspan="2">Parameter</th>
                <th class="headertable" rowspan="2">Criteria</th>
                <th class="headertable" rowspan="2">Status</th>
                <th class="headertable" rowspan="2">Timestamp</th>
                <th class="headertable" rowspan="2"></th>

              </tr>
              <tr>
        <th class="headertable" >Name</th>
        <th class="headertable" >Current SMR</th>
        <th class="headertable"  >Target Life Time</th>
        </tr>
            </thead>
                <tbody>
                   <tr *ngFor="let pcar of pcarListBySite; let index = index">

               <!--  <td style="padding: 10px;">{{pcar.PCAR_id}}</td> -->
                
                      <td style="padding: 10px;">{{pcar.plant}}</td>
                      <td style="padding: 10px;">{{pcar.customer}}</td>
                      <td style="padding: 10px;">{{pcar.model}}</td>
                      <td style="padding: 10px;">{{pcar.serial_number}}</td>
                      <td style="padding: 10px;">{{pcar.Room}}</td>
                      <td style="padding: 10px;">{{pcar.Component}}</td>
                      <td style="padding: 10px;">11</td>
                      <td style="padding: 10px;">22</td>
                      <td style="padding: 10px;">{{pcar.Parameter}}</td>
                      <td style="padding: 10px;">{{pcar.Alert_type}}</td>
                      <td style="padding: 10px; color:red;" *ngIf="pcar.created">Created</td>
                      <td style="padding: 10px; color:yellow;" *ngIf="pcar.validated">Validated</td>
                      <td style="padding: 10px; color:green;" *ngIf="pcar.executed">Executed</td>
                      <td style="padding: 10px; color:blue;" *ngIf="pcar.completed">Completed</td>
                      <td style="padding: 10px;">timestamp</td>
                      <td>
                            <a class="nav-link" routerLinkActive="active" style="padding-top: 0px;">
                              <button type="submit" class="btn btn-warning" [routerLink]="['/components/pcar', pcar.PCAR_id, pcar.alert_id]" style="background-color: #ffc400;color: black;border-radius: 8px 8px 8px 8px; text-align: center;" class="fa fa-eye">View</button>
                            </a>
                      </td>
                  </tr>
                </tbody>
        </table>


<!-- BEFORE NEW YEAR

           <table class="table table-hover table-striped table-sm" style="border-bottom: 0px;">
            <thead>
              <tr class="my-card-header1">
                <th class="text-center" style="width: 6%; border-bottom: 0px; border-right: 1px solid white; width: 50px; padding-bottom: 0.5%;">No</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 0.5%;">Model</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 0.5%;">Threshold</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 0.5%;">Recommendation Type</th>
                 <th class="text-center" style="border-bottom: 0px; padding-bottom: 0.5%;">Recommendation</th>
              </tr>
            </thead>
            <tbody>
                <td>
                     <input type="text" class="form-control-custom" id="arnumber" placeholder="No">
                </td>
                <td>
                    <select class="form-control-custom" id="armodel" placeholder="Select Model">
                <option>Select Model</option>
                <option>1</option>
                <option>2</option>
              </select>
                </td>
                <td>
                     <input type="text" class="form-control-custom" id="arthreshold" placeholder="Threshold">
                </td>
                <td>
                     <select class="form-control-custom" id="arrecomtype">
                <option>Select Recommendation Type</option>
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
              </select>
                </td>
                <td>
                      <input type="text" class="form-control-custom" id="arrecom" placeholder="Recommendation Details">
                </td>

            </tbody>
          </table> -->


         <!--  <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#" style="color: #191919;">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">2</a></li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">3</a></li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">4</a></li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">Next</a></li>
            </ul>
          </nav> -->
     
      </div>
</div>
</div>

   