<!-- <meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 -->
 


<div id="approvaltitlebox">
  <div class="row" style="background-color: white;">
      <div id="approvaltitle" class=col>
        <p>PCAR Report</p>
      </div>
  </div>

      <style>
        .dropbtn {
          background-color: #E5E5E5;
          color: black;
          padding: 10px;
          font-size: 14px;
          border: none;
          text-overflow: ellipsis;
          -moz-border-radius: 2px;
      	  -webkit-border-radius: 2px;
      	  border-radius: 2px
          height: 35px;
        }

        .dropdown {
          position: relative;
          display: inline-block;
          height: 35px;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #999999;
          color:#191919;
          min-width: 110px;
          box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          height: 35px;
        }

        .dropdown-content a {
          background-color: #999999;
          padding: 12px 12px;
          text-decoration: none;
          display: block;
          height: 35px;
          color:#191919;
        }

        .dropdown-content a:hover {
          background-color: #E5E5E5;
          -moz-border-radius: 2px;
        	-webkit-border-radius: 2px;
      	  border-radius: 2px;
         height: 35px;
        }

        .dropdown:hover .dropdown-content {
          display: block;
          height: 35px;

        }

        .dropdown:hover .dropbtn {
        background-color: #E5E5E5;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
      	border-radius: 2px;
        height: 35px;
        }
      </style>

      <script>
        $(function () {
          $("#datepicker").datepicker();
        });

      </script>


<div class="card" style="padding: 3%;margin-bottom: 0px">
  <div class="row">
    <div class="col">
      <div class="form-group" style="text-align: center;">
        <label for="name" style="margin-left: 6%; width: 220px;">Machine Model</label>
        <input type="text" class="textheader" id="machinemodel" placeholder="{{ alertUnitById.model }}" readonly/>
      </div>
    </div>
    <div class="col">
      <div class="form-group" style="text-align: center;">
        <label for="name" style="margin-left: 6%; width: 220px;;">Machine SN</label>
        <input type="text" class="textheader" id="machinemode" placeholder="{{ alertUnitById.serial_number }}" readonly/>
      </div>
    </div>
    <div class="col">
      <div class="form-group" style="text-align: center;">
        <label for="name" style="margin-left: 6%; width: 220px;;">Unit Code</label>
        <input type="text" class=" textheader" id="machinemode" placeholder="{{ alertUnitById.room }}" readonly/>
      </div>
    </div>
    <div class="col">
      <div class="form-group" style="text-align: center;">
        <label for="name" style="margin-left: 6% ;width: 220px; ;">Customer</label>
        <input type="text" class=" textheader" id="machinemode" placeholder="{{ alertUnitById.customer }}" readonly/>
      </div>
    </div>
  </div>

  <div class="row">
     <div class="col">
      <div class="form-group" style="text-align: center;">
        <label for="name" style="margin-left: 6%; width: 220px;">Site Location</label>
        <input type="text" class=" textheader" id="machinemode" placeholder="{{ alertUnitById.plant }}" readonly/>
      </div>
    </div>
    <div class="col">
      <div class="form-group" style="text-align: center;">
        <label for="name" style="margin-left: 6%; width: 220px;">Component</label>
        <input type="text" class=" textheader" id="machinemode" placeholder="{{ alertUnitById.component }}" readonly/>
      </div>
    </div>
    
    <div class="col">
      <div class="form-group" style="text-align: center;">
        <label for="name" style="margin-left: 6%; width: 220px;">SMR</label>
        <input type="text" class=" textheader" id="machinemode" placeholder="{{ alertUnitById.SMR }}" readonly/>
      </div>
    </div>
    <div class="col">
      <div class="form-group" style="text-align: center;">
        <label for="name" style="width: 220px;">Date</label>
        <input type="text" class="textheader" id="machinemode" placeholder="{{ alertUnitById.Date | date:'dd MMMM yyyy' }}" readonly/>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col">
      <div class="form-group" style="text-align: center;">
        <label for="name" style="margin-left: 6%; width: 220px;">Component Life Time</label>
        <input type="text" class=" textheader" id="machinemode" placeholder="{{ alertUnitById.component }}" readonly/>
      </div>
    </div>
    <div class="col">
      <div class="form-group" style="text-align: center;">
        <label for="name" style="margin-left: 6%; width: 220px;">Target Life Time</label>
        <input type="text" class=" textheader" id="machinemode" placeholder="{{ alertUnitById.component }}" readonly/>
      </div>
    </div>
    <div class="col">
      <div class="form-group" style="text-align: center;">
        <label for="name" style="margin-left: 6%; width: 220px;"></label>
       <!--  <input type="text" class=" textheader" id="machinemode" placeholder="{{ alertUnitById.component }}" readonly/> -->
      </div>
    </div>
    <div class="col">
      <div class="form-group" style="text-align: center;">
        <label for="name" style="margin-left: 6%; width: 220px;"></label>
        <!-- <input type="text" class=" textheader" id="machinemode" placeholder="{{ alertUnitById.component }}" readonly/> -->
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col">
      <button (click)="modalTes.show()">Tes</button>
    </div>
  </div> -->
</div>




<form #f="ngForm" (ngSubmit)="save()">

<!-- <div class="row" style="padding: 20px;"> -->
    <!-- <div class="col-lg-12" style="padding-top: 20px;">
    <div class=" my-card">
    <div class="my-card-header2"> -->
         
<div id="for-tabset">
  
          <tabset style="border: none; font-weight: bold; font-family: SourceSansPro; ">

                <tab heading="Phenomenon">
                  <div class="col">
                  <div class="cardcustom " style="margin-top: 20px;">
                    <!-- <table class="table table-hover table-striped table-sm borderright" style="border-bottom: 0px;">
                      <thead class="table-bordered">
                        <tr class="my-card-header1 borderright">
                          <th class="text-center borderright " style="border-bottom: 0px;border-right: 1px solid white; padding-bottom: 0.5%;">Phenomenon</th>
                          <th class="text-center borderright" style="border-bottom: 0px;border-right: 1px solid white; padding-bottom: 0.5%;">Date</th>
                          <th class="text-center" style="border-bottom: 0px;border-right: 1px solid white; padding-bottom: 0.5%;">SMR</th>
                          <th class="text-center" style="border-bottom: 0px; padding-bottom: 0.5%;">Value</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <input type="text" class="form-control-custom" id="pcarpheno" placeholder="{{ alertParameterById.Parameter }}" readonly/>
                          </td>
                          <td>
                            <input type="text" class="form-control-custom" id="pcardate" placeholder="{{ alertParameterById.Phenomenon_date | date:'dd MMMM yyyy'}}" readonly/>
                          </td>
                          <td>
                            <input type="text" class="form-control-custom" id="pcarsmr" placeholder="{{ alertParameterById.SMR }}" readonly/>
                          </td>
                          <td>
                            <input type="text" class="form-control-custom" id="pcarvalue" placeholder="{{ alertParameterById.Alert_Value}}" readonly/>
                          </td>
                        </tr>
                      </tbody>
                    </table> -->

                      <table id="table1" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                          <thead style="font-weight: normal;">
                            <tr class="my-card-header1">
                              <th class="headertable">No</th>
                              <th class="headertable">Parameter ID</th>
                              <th class="headertable">Parameter Name</th>
                              <th class="headertable">Component</th>
                              <th class="headertable">Model</th>
                              <!-- <th class="headertable">Combination</th>
                              <th class="headertable">Tableau</th> -->
                              <!-- <th class="headertable">Actions</th> -->

                            </tr>
                          </thead>
                              <tbody>
                                  <tr>
                                    <td style="padding: 10px;">1</td>
                                    <td style="padding: 10px;">{{alertUnitById.Parameter_id}}</td>
                                    <td style="padding: 10px;">{{alertUnitById.Parameter}}</td>
                                    <td style="padding: 10px;">{{alertUnitById.component}}</td>
                                    <td style="padding: 10px;">{{alertUnitById.model}}</td>
                                    <!-- <td style="padding: 10px;"></td>
                                    <td style="padding: 10px;"></td> -->
                                    <!-- <td style="text-align:center">
                                      <a (click)="willEditContent(content,item)"><i class="fa fa-pencil" style="font-size: 150%;"></i></a>
                                      <a (click)="warningModal2.show(); willDeleteContent(content,item)"><i class="fa fa-times-circle fa-2x"></i></a></td> -->
                                  </tr>
                              </tbody>
                      </table>



                  </div>
                </div>
                </tab>



          <tab heading="Analysis & Recommendation" style="margin-top: 27px;">
            <div class="col">
              <div class="" style="background-color:white; margin-top: 5px;">                
                    <div class="rowyellow">

                   <!--  <div class="cardcustom" style="background-color:white; margin-top: 5px;">    -->             
                         <!--  <div class="rowyellow">
     
                            <ul class="nav fontcolortab " style="padding-top: 10px;">
                               <button type="button" class="btn btn-secondary button-filter" data-toggle="modal" (click)="largeModal.show()">
                              Source</button>
                              <button type="button" class="btn btn-secondary button-filter" data-toggle="modal" (click)="largeModal2.show()">
                              Parameter</button>
                            </ul>
                          </div> -->

                            <ul class="nav fontcolortab " style="padding-top: 10px;">
                                    <button type="button" class="btn btn-secondary button-filter" style="margin-right: 20px;background-color: #5d5d5d5d;" 
                                    data-toggle="modal" (click)="largeModal.show()">Source</button>
                                    <input type="text" id="source" placeholder= "{{  selectedSources }}" style=" width: 300px; border-radius:  5px; padding-left: 10px;" readonly/>

                          
                                  <button type="button" class="btn btn-secondary button-filter" style="margin-right: 20px; background-color: #5d5d5d5d;" data-toggle="modal" *ngIf="sourceSelected" (click)="largeModal2.show();tampiltableau()">Parameter</button>
                                  <button type="button" class="btn btn-secondary button-filter" style="margin-right: 20px; background-color: #5d5d5d5d;" data-toggle="modal" *ngIf="!sourceSelected" (click)="largeModal2.show()" disabled> Parameter</button>       
                                  <input type="text" id="parameter" placeholder= "{{  selectedParameter }}" style=" width: 300px; padding-left: 10px; border-radius:  5px;" readonly/>
                          </ul>
                      <!-- <ul>

             <! <div class="cardcustom" style="background-color:white; margin-top: 5px;">    -->             
                   <!--  <div class="rowyellow">
                      <ul class="nav fontcolortab " style="padding-top: 10px;">
                         <button type="button" class="btn btn-secondary button-filter" data-toggle="modal" (click)="largeModal.show()">
                        Source</button>
                        <button type="button" class="btn btn-secondary button-filter" data-toggle="modal" (click)="largeModal2.show()">
                        Parameter</button>
                      </ul>
                    </div> -->

   

                    </div>
                   <!--  </div> -->



                     <!--  <div class="row  ">
                        <div class="col-lg-12 col-md-12">
                          <div class="card-block">
                            <iframe frameborder="0" marginheight="0" marginwidth="0" title="data visualization" allowtransparency="true" allowfullscreen="true"
                              class="tableauViz" style="display: block; width: 100%; height: 1068px; margin: 0px; padding: 0px; border: none;"
                              src="http://10.2.51.103/views/VHMS3/VHMS?:embed=y&:showAppBanner=false&:display_count=no&:showVizHome=no"></iframe>
                          </div>

                        </div>
                        </div> -->
                        <div class="row" *ngFor="let tableau of linkWithTicket">
                          <div class="col-lg-12 col-md-12">
                            <div class="card-block">
                              <iframe frameborder="0" marginheight="0" marginwidth="0" title="data visualization" allowtransparency="true" allowfullscreen="true"
                                class="tableauViz" style="display: block; width: 100%; height: 330px; padding: 0px; border: none;"
                                [src]="sanitizer.bypassSecurityTrustResourceUrl(tableau)"></iframe>
                            </div>
                          </div>
                        </div>
                    




                  <div class="row" style="padding:20px;">
                    <table class="table table-hover table-striped table-sm">
                      <thead>
                        <tr class="my-card-header1">
                          <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 0.5%;">Mark</th>
                          <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 0.5%;">Analysis</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pcar of pcarAnalysisById; let index = index" style="text-align: center;">
                          <td>
                            <div class="form-control-custom" style="background-color: white;height: 37.5px;">
                             <!--  <input type="hidden" id="Alert_id" name="Alert_id" [(ngModel)]="an.Alert_id"/> -->
                              <input type="hidden" id="id" name="id" [(ngModel)]="pcar.id" />
                              <input type="hidden" id="pcar_id" name="pcar_id" [(ngModel)]="pcar.pcar_id" />
                              <input type="checkbox" id="pcarmark2b" name="marked" style="padding-left: 200%;" [checked]="pcar.marked"
                                 (change)="selectCheckbox(pcar, $event.target.checked ? pcar.marked = true : pcar.marked = false)" />
                                 <!-- (ngModelChange)="onCheckboxChange(an)" -->
                              <!--    <input type="checkbox" id="pcarmark2a" name="inline-checkbox1" value="option1" style="padding-left: 50%;">
                                  <input type="checkbox" id="pcarmark2b" name="inline-checkbox1" value="option1"> -->
                            </div>
                          </td>
                          <td>
                             <!-- <select class="form-control-custom" name="Analysis_id" id="Analysis_id" [(ngModel)]="selectedVal.Analysis" (ngModelChange)="onChangeAnalysis(null, $event)"
                            disable aria-required="true" required="true">
                        <option disabled selected value="null">Choose Analysis</option>
                        <ng-container *ngFor="let c of analysis">
                          <option [ngValue]="c.Analysis">{{ c.Analysis }}</option>
                        </ng-container>
                      </select> -->
                            <input type="text" class="form-control-custom" style="color:black" id="pcaranalysis" placeholder="{{ pcar.description }}" disabled/>
                          </td>
                        </tr>
                      </tbody>
                    </table>    
              </div>

              <div class="cardcustom">
                  </div>
                  <div class="card-block">
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" style="color: #191919;border-color: #191919;" (click)="dangerModal1.show();"><i class="fa fa-plus-circle"></i>&nbsp; Add New</button>
                    <!-- <button type="button" class="btn btn-outline-primary" style="color: #191919;border-color: #191919; margin-left: 100px;width: 300px;"><i class="fa fa-times-circle"></i>&nbsp; Remove</button> -->
                  </div>


              <div class="row" style="padding:20px;">
                    <table class="table table-hover table-striped table-sm">
                      <thead>
                        <tr class="my-card-header1">
                          <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 0.5%;">Mark</th>
                          <th class="text-center" style="border-bottom: 0px; padding-bottom: 0.5%;">Recommendation</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pcar of pcarRecommendationById; let index = index" style="text-align: center;">
                          <td>
                            <div class="form-control-custom" style="background-color: white;height: 37.5px;">
                             <!--  <input type="hidden" id="Alert_id" name="Alert_id" [(ngModel)]="an.Alert_id"/> -->
                              <input type="hidden" id="id" name="id" [(ngModel)]="pcar.id" />
                              <input type="hidden" id="pcar_id" name="pcar_id" [(ngModel)]="pcar.pcar_id" />
                              <input type="checkbox" id="pcarmark2b" name="marked" style="padding-left: 200%;" [checked]="pcar.marked"
                                 (change)="selectCheckboxRec(pcar, $event.target.checked ? pcar.marked = true : pcar.marked = false)" />
                                 <!-- (ngModelChange)="onCheckboxChange(an)" -->
                              <!--    <input type="checkbox" id="pcarmark2a" name="inline-checkbox1" value="option1" style="padding-left: 50%;">
                                  <input type="checkbox" id="pcarmark2b" name="inline-checkbox1" value="option1"> -->
                            </div>
                          </td>
                          <td>
                            <!--  <select class="form-control-custom" name="Recommedation_id" id="Recomendation_id" [(ngModel)]="selectedVal.Recommendation" (ngModelChange)="onChangeRecommendation(null, $event)"
                            disable aria-required="true" required="true">
                        <option disabled selected value="null">Choose Recommendation</option>
                        <ng-container *ngFor="let c of recommendation">
                          <option [ngValue]="c.Recommendation">{{ c.Recommendation }}</option>
                        </ng-container>
                      </select> -->
                            <input type="text" class="form-control-custom" id="pcarrecommendation2" placeholder="{{ pcar.description }}" readonly/>
                          </td>
                        </tr>
                      </tbody>
                    </table>    
              </div>


                  <div class="cardcustom">
                  </div>
                  <div class="card-block">
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" style="color: #191919;border-color: #191919;" (click)="dangerModal2.show();"><i class="fa fa-plus-circle"></i>&nbsp; Add New</button>
                    <!-- <button type="button" class="btn btn-outline-primary" style="color: #191919;border-color: #191919; margin-left: 100px;width: 300px;"><i class="fa fa-times-circle"></i>&nbsp; Remove</button> -->
                  </div>


<div bsModal #dangerModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-warning modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#FFD800">
        <h5 class="modal-title" style="color:black"> ADD PCAR DATA</h5>
      </div>
      <div class="modal-body">
      <form class="form-horizontal" (ngSubmit)="addData()" #newContentForm="ngForm">

                <!-- TAB ANALYSIS -->
                <div class="col-lg-12">
                  <div class="card my-card-style">
                          <div class="card-header my-card-header">
                            <i class="fa fa-edit"></i>TAB ANALYSIS
                            
                              <div class="dropdown" style="float:right;">
                                <button disabled class="dropbtn">Pilih Action</button>
                                <div class="dropdown-content">
                                  <a (click)="willSelectAnalysis()">Select</a>
                                  <a (click)="willManualAnalysis()">Manual</a>
                                </div>
                              </div>

              </div>
              <div class="card-block">



                <div class="animated fadeIn" *ngIf="showAnalysisSelect">

                  <div *ngIf="anAvail" class="alert alert-danger" role="alert">Analysis {{ dataPCAR.Analysis }} sudah ada. Mohon masukkan Analysis lain.</div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card my-card-style" style="margin-top: 25px;">
                        <div class="card-actions" style="background-color: #ffc400;">
                          <a class="btn-close" (click)="cancelSelectAnalysis()"><i class="icon-close" style="float: right;"></i></a>
                        </div>
                       <!--  <div class="modal-body"> IKAPS -->


                        <table class="table table-hover table-striped table-sm" style="border-bottom: 0px;">
                          <thead>
                            <tr class="my-card-header1">

                              <th class="text-center" style="width: 3%; border-bottom: 0px; border-right: 1px solid white; width: 25px; padding-bottom: 1%;">Pilih</th>

                              <th class="text-center" style="border-bottom: 0px; padding-bottom: .5%;">Analysis</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
               <td>
                                <select #selectedSource2 multiple [(ngModel)]="selectedSources2" style="width:250px; border: none;" name="selectedSources2" id="selectedSources2"> 
                    <option disabled selected value="null">Pilih</option>
                    <option *ngFor="let e of dataMA">
                      {{e.name}}
                    </option>
                    </select>
                                <button type="button" class="btn btn-primary" style="margin-left: 3px;" (click)="selectedSource2.length ? selectSourceTrue2() : this.sourceSelected2 = false;">OK</button>
                              </td>
                              <td style="padding: 10px;">


                                <select class="form-control-custom" name="id" id="id" [(ngModel)]="selectedValue" (ngModelChange)="onChangeAnalysis(null, $event)"
                                  disable aria-required="true" required="true">
                                <option disabled selected value="null">Pilih Analysis</option>
                                  <ng-container *ngFor="let c of analysisDataMix">
                                <option [ngValue]="c">{{c.description}}</option>
                                  </ng-container>
                              </select>
                              </td>
                            </tr>
                          </tbody>
                        </table>
<!--   -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="animated fadeIn" *ngIf="showAnalysisManual">
                  <div *ngIf="anAvail" class="alert alert-danger" role="alert">Analysis {{ dataAnalysisAdd.description }} sudah ada. Mohon masukkan Recommendation lain.</div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card my-card-style" style=" margin-top:25px; padding: 5px;">
                        <div class="card-actions">
                          <a class="btn-close" (click)="cancelManualAnalysis()"><i class="icon-close" style="float: right;"></i></a>
                        </div>
                        <!-- <form class="form-horizontal" (ngSubmit)="addAnalysisMan()" #ContentForm="ngForm"> -->
                          <p>Analysis : <input type="text" style="color:black;" class="form-control-custom" id="description"
                              name="checkInput1" [(ngModel)]="dataAnalysisAdd.description" required="true"></p>

                        <!--   <button type="submit" class="btn btn-primary my-button2" [disabled]="!ContentForm.form.valid" *ngIf="!submittedAn">Tambah</button>
                          <button type="submit" class="btn btn-primary my-button2" [disabled]="ContentForm.form.valid" *ngIf="submittedAn"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button>
                        </form> -->
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
          <!-- TUTUP TAB ANALYSIS -->


          <button type="submit" class="btn btn-primary my-button2" *ngIf="!submittedAR">Tambah</button>
          <button type="submit" class="btn btn-primary my-button2" [disabled]="newContentForm.form.valid" *ngIf="submittedAR"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button>
        </form>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" (click)="dangerModal1.hide()">Batalkan</button>
      </div>
    </div>
  </div>
</div>


<div bsModal #dangerModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-warning modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#FFD800">
        <h5 class="modal-title" style="color:black"> ADD PCAR DATA</h5>
      </div>
      <div class="modal-body">
      <form class="form-horizontal" (ngSubmit)="addDataRec()" #newContentForm="ngForm">


          <!-- TAB RECOM -->
          <div class="col-lg-12">
            <div class="card my-card-style">
              <div class="card-header my-card-header">
                <i class="fa fa-edit"></i>TAB RECOMMENDATION
                <div class="dropdown" style="float:right;">
                  <button disabled class="dropbtn">Pilih Action</button>
                  <div class="dropdown-content">
                    <a (click)="willSelectRecom(content)">Select</a>
                    <a (click)="willManualRecom(content)">Manual</a>
                  </div>
                </div>
              </div>
              <div class="card-block">

                <div class="animated fadeIn" *ngIf="showRecomSelect">
                  <div *ngIf="anAvail" class="alert alert-danger" role="alert">Recommendation {{ dataPCAR.Recommendation }} sudah ada. Mohon masukkan Recommendation lain.</div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card my-card-style" style="margin-top: 25px;">
                        <div class="card-actions" style="background-color: #ffc400;">
                          <a class="btn-close" (click)="cancelSelectRecom()"><i class="icon-close" style="float: right;"></i></a>
                        </div>

                        <table class="table table-hover table-striped table-sm" style="border-bottom: 0px;">
                          <thead>
                            <tr class="my-card-header1">

                              <th class="text-center" style="width: 3%; border-bottom: 0px; border-right: 1px solid white; width: 25px; padding-bottom: 1%;">Pilih</th>

                              <th class="text-center" style="border-bottom: 0px; padding-bottom: .5%;">Recommendation</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>

                              <td>
                                <select #selectedSource3 multiple [(ngModel)]="selectedSources3" style="width:250px; border: none;" name="selectedSources3" id="selectedSources3"> 
                    <option disabled selected value="null">Pilih</option>
                    <option *ngFor="let e of dataMA">
                      {{e.name}}
                    </option>
                    </select>
                                <button type="button" class="btn btn-primary" style="margin-left: 3px;" (click)="selectedSources3.length ? selectSourceTrue3() : this.sourceSelected3 = false;"> OK</button>
                              </td>
                              <td style="padding: 10px;">


                              <select class="form-control-custom" name="id" id="id" [(ngModel)]="selectedValue2" (ngModelChange)="onChangeRecommendation(null, $event)"

                                  disable aria-required="true" required="true">
                                <option disabled selected value="null">Pilih Recom</option>
                                  <ng-container *ngFor="let c of recomDataMix">
                                <option [ngValue]="c">{{c.description}}</option>
                                  </ng-container>
                              </select>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="animated fadeIn" *ngIf="showRecomManual">
                  <div *ngIf="anAvail" class="alert alert-danger" role="alert">Recommendation {{ dataRecomAdd.description }} sudah ada. Mohon masukkan Recommendation lain.</div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card my-card-style" style=" margin-top:25px; padding: 5px;">
                        <div class="card-actions">
                          <a class="btn-close" (click)="cancelManualRecom()"><i class="icon-close" style="float: right;"></i></a>
                        </div>

                        <!-- <form class="form-horizontal" (ngSubmit)="addRecomMan()" #Content="ngForm"> -->
                          <p>Recommendation : <input type="text" style="color:black; " class="form-control-custom" id="description"
                              name="checkInput2" [(ngModel)]="dataRecomAdd.description" required="true"></p>

                          <!-- <button type="submit" class="btn btn-primary my-button2" [disabled]="!Content.form.valid" *ngIf="!submittedRe">Tambah</button>
                          <button type="submit" class="btn btn-primary my-button2" [disabled]="Content.form.valid" *ngIf="submittedRe"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button> -->
                        <!-- </form> -->
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
          <!-- TUTUP TAB RECOM -->

          <button type="submit" class="btn btn-primary my-button2" *ngIf="!submittedAR">Tambah</button>
          <button type="submit" class="btn btn-primary my-button2" [disabled]="newContentForm.form.valid" *ngIf="submittedAR"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button>
        </form>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" (click)="dangerModal2.hide()">Batalkan</button>
      </div>
    </div>
  </div>
</div>


</div>
</div>
</tab>

                <tab heading="Activity">
                  <div class="col">
                    <div class="cardcustom" style="margin-top: 20px;">


                   <!--  <table class="table table-hover table-striped table-sm" style="border-bottom: 0px;">
                      <thead>
                        <tr class="my-card-header1">
                          <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 0.5%;">Mark</th>
                          <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 0.5%;">Recommendation ID</th>
                          <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 0.5%;">Activity</th>
                          <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 0.5%;">Attachement</th>
                          <th class="text-center" style="border-bottom: 0px; padding-bottom: 0.5%;">Remark</th>
                        </tr>
                      </thead>
                      <tbody>
                        <td>
                          <input type="text" class="form-control-custom" id="pcarmark">
                        </td>
                        <td>
                          <input type="text" class="form-control-custom" id="pcarrecommendation">
                        </td>
                        <td>
                          <input type="text" class="form-control-custom" id="pcaractivity">
                        </td>
                        <td style="background-color: white;">


                          <div class="col-md-9" style="height: 33.5px;">

                            <input type="file" id="file-input" name="file-input">
                          </div>

                        </td>
                        <td>
                          <input type="text" class="form-control-custom" id="pcarremark">
                        </td>
                      </tbody>
                    </table> -->


                  <table id="table1" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                          <thead>
                            <tr class="my-card-header1">
                              <th class="headertable">Mark</th>
                              <th class="headertable">Recommendation</th>
                              <th class="headertable">Activity</th>
                              <th class="headertable">Attachement</th>
                              <th class="headertable">Remark</th>

                            </tr>
                          </thead>
                              <tbody>
                                  <td>
                                  <input type="text" class="form-control-custom" id="pcarmark">
                                </td>
                                <td>
                                  <input type="text" class="form-control-custom" id="pcarrecommendation">
                                </td>
                                <td>
                                  <input type="text" class="form-control-custom" id="pcaractivity">
                                </td>
                                <td style="background-color: white;">
                                  <div class="col-md-9" style="height: 33.5px;">
                                      <input type="file" id="file-input" name="file-input">
                                  </div>
                                </td>
                                <td>
                                  <input type="text" class="form-control-custom" id="pcarremark">
                                </td>
                              </tbody>
                      </table>


                    <!-- <nav>
                      <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#" style="color: #191919;">Prev</a></li>
                        <li class="page-item active">
                          <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#" style="color: #191919;">2</a></li>
                        <li class="page-item"><a class="page-link" href="#" style="color: #191919;">3</a></li>
                        <li class="page-item"><a class="page-link" href="#" style="color: #191919;">4</a></li>
                        <li class="page-item"><a class="page-link" href="#" style="color: #191919;">Next</a></li>
                      </ul>
                    </nav> -->



                    </div>
                  </div>
                </tab>


            <tab heading="Historical PCAR">
              <div class="col">
                  <div class="cardcustom" style="margin-top: 20px;">
                    <!-- <table class="table table-hover table-striped table-sm" style="border-bottom: 0px;">
                      <thead>
                        <tr class="my-card-header1">
                          <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 0.5%;">PCAR History</th>
                          <th class="text-center" style="border-bottom: 0px; padding-bottom: 0.5%;">Phenomenon</th>
                        </tr>
                      </thead>
                      <tbody>
                        <td>
                          <input type="text" class="form-control-custom" id="pcarhistory">
                        </td>
                        <td>
                          <input type="text" class="form-control-custom" id="pcarphenomenon">
                        </td>
                      </tbody>
                    </table> -->


                    <table id="table1" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                              <thead>
                                <tr class="my-card-header1">
                                  <th class="headertable">PCAR History</th>
                                  <th class="headertable">Phenomenon</th>

                                </tr>
                              </thead>
                                  <tbody>
                                      <td>
                                        <input type="text" class="form-control-custom" id="pcarhistory">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control-custom" id="pcarphenomenon">
                                      </td>
                                  </tbody>
                          </table>


                    <!-- <nav>
                      <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#" style="color: #191919;">Prev</a></li>
                        <li class="page-item active">
                          <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#" style="color: #191919;">2</a></li>
                        <li class="page-item"><a class="page-link" href="#" style="color: #191919;">3</a></li>
                        <li class="page-item"><a class="page-link" href="#" style="color: #191919;">4</a></li>
                        <li class="page-item"><a class="page-link" href="#" style="color: #191919;">Next</a></li>
                      </ul>
                    </nav> -->
                  </div>
                </div>
            </tab>
          </tabset>
   <!--  </div> -->
       <!--  </div> -->


          <!-- <b>answers</b>: {{check | json}} -->
          <div style="margin-top:20px; margin-left: 20px;">
                <div >
                      <button type="submit" class="processbutton" [disabled]="!proceed || !proceedRec" *ngIf="!submitted">Proceed</button>
                      <button type="submit" class="processbutton" [disabled]="f.form.valid" *ngIf="submitted"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button>
                      <!-- <button type="button" class="processbutton">Save</button> -->
                </div>
                <div>
                      <button type="button" class="processbutton" style="margin-left:3px;" (click)="close()">Close</button>
                </div>
                <div>
                      <button type="button" class="processbutton" style="margin-left:3px;" (click)="cancel()">Cancel</button>
                </div>
          </div> 
       <!--  </div> -->
        <!-- CLOSE COL -->
  <!-- </div> -->
  <!-- CLOSE CARD CUSTOM -->
</div>
</form>
</div>

<!-- CLOSE CONTAINER -->






                  <div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Source</h4>
                          <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row" style="margin-left: 43px">
                                    <select #selectedSource multiple [(ngModel)]="selectedSources" style="width:180px;"> 
                                      <option disabled selected value="null">Pilih Source</option>
                                      <option *ngFor="let source of sourceTrend">
                                        {{source.trend_source}}
                                      </option>
                                    </select>
                          </div>
                          <div class="row">
                                  <!-- <h5>{{ selectedSources }}</h5> -->
                            </div>


                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
                          <button type="button" class="btn btn-primary" (click)="selectedSources.length ? selectSourceTrue() : this.sourceSelected = false; largeModal.hide()">OK</button>
                        </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->

                <div bsModal #largeModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Parameter</h4>
                        <button type="button" class="close" (click)="largeModal2.hide()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                             <!--  <label class="col-md-3 form-control-label" for="multiple-select">Multiple select</label> -->
                             <!--  <div class="col"> -->
                              <select #selectedParam multiple [(ngModel)]="selectedParameter" style="width: 265px;height: 300px;"> 
                      <option style=" border-bottom: 1px solid lightgray; margin-bottom:  8px;" disabled selected value="null">Pilih Parameter</option>
                        <option *ngFor="let prm of parameterTrend">
                          {{prm.trend_name}}
                        </option>
                    </select>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="largeModal2.hide()">Close</button>
                        <button type="button" class="btn btn-primary" (click)="selectedParameter.length ? tampilTableau() :this.parameterSelected = false; largeModal2.hide()">OK</button>
                        <!-- <button type="button" class="btn btn-primary">OK</button> -->
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div bsModal #modalTes="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">TES MODAL</h4>
                        <button type="button" class="close" (click)="modalTes.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <!-- <div class="modal-body">
                        <div class="row" style="margin-left: 43px">
                          <select #selectedSource multiple [(ngModel)]="selectedSources" style="width:180px;"> 
                                      <option disabled selected value="null">Pilih Source</option>
                                      <option *ngFor="let source of sourceTrend">
                                        {{source.trend_source}}
                                      </option>
                                    </select>
                        </div>
                        <div class="row">
                          <!-- <h5>{{ selectedSources }}</h5> -->
                        </div>


                      </div> -->
                      <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
                        <button type="button" class="btn btn-primary" (click)="selectedSources.length ? selectSourceTrue() : this.sourceSelected = false; largeModal.hide()">OK</button>
                      </div> -->
                    </div>
                    <!-- /.modal-content -->