<!-- 
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script> -->

<form #f="ngForm" (ngSubmit)="save()">
<div id="approvaltitlebox">
  <div class="row" style="background-color: white;">
      <div id="approvaltitle" class=col>
        <p>Recommendation Master</p>
      </div>
  </div>
  <div class="row" style="padding: 20px;">
  <div class="col-lg-12" style="padding-top: 20px;">
  <div class=" my-card">
  <div class="my-card-header2">
          <ul class="nav nav-tabs-active fontcolortab" style="padding-top: 5px;" >
              <p> <span class="headerfont" style="padding-bottom: 1px;">Recommendation Master</span></p>    
              <li style="float: right;margin-right: auto;"></li>
              <a class="nav-link" style="padding-top: 10px; color:white" data-toggle="modal" (click)="warningModal.show();"><i class="fa fa-plus-circle fa-2x "></i></a>
            <a class="nav-link" style="padding-top: 10px; color:white" (click)="downloadRecom()"><i class="fa fa-download fa-2x "></i></a>
             <a class="nav-link" style="padding-top: 8px; color:white" (click)="uploadModal.show();"><i class="fa fa-upload fa-2x "></i></a>

           <!--    
              <input type='file' (change)='convertFile(input)' id='fileInput' class="fileinput" #input>
            <button type="submit" class="uploadbutton" *ngIf="!submittedbutton">Upload Data</button> -->
               <!-- <a class="nav-link" style="padding-top: 10px; color:white" ><i class="fa fa-upload fa-2x "></i></a> -->


      
              <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-warning" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Add New Recommendation</h5>
                    </div>
                    <div class="modal-body">

                      <div *ngIf="anAvail" class="alert alert-warning" role="alert">Recommendation {{ dataRecom.Recommendation }} sudah ada. Mohon masukkan Recommendation lain.</div>

                      <!-- Form Analysis -->
                      <form class="form-horizontal" (ngSubmit)="addNewAnalysis()" #newContentForm="ngForm">
                        <ng-container>
                          <div class="form-group ">
                            <p>Recommendation ID<input type="text" style="color:black;" class="form-control-custom modals-add" id="Recommendation_id"
                                name="checkInput2" [(ngModel)]="idRecom" disabled></p>
                          </div>
                          <div class="form-group ">
                            <p>Recommendation<input type="text" style="color:black;" class="form-control-custom modals-add" id="Recommendation" name="checkInput"
                                [(ngModel)]="dataRecom.Recommendation" pattern="^[^\s]+(\s+[^\s]+)*$" required="true"></p>

                          </div>
                        </ng-container>
                        <h6 style="font-size:12px; color:grey;"> * Nama Recommendation tidak mengizinkan spasi di awal dan/atau diakhir </h6>

                        <button type="submit" class="btn btn-primary my-button2" [disabled]="!newContentForm.form.valid" *ngIf="!submitted">Add</button>
                        <button type="submit" class="btn btn-primary my-button2" [disabled]="newContentForm.form.valid" *ngIf="submitted"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button>
                      </form>
                      <!-- Form Analysis -->

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>


              <!-- pakai modals to upload file -->
               <div bsModal #uploadModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-warning" role="document" style="width: 400px;">
                  <div class="modal-content">
                    <div class="modal-header">
                     <h5 class="modal-title">Upload Recommendation Master</h5>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                           <h6 class="upload-doc"> Please select document file:  </h6>
                              <input type='file' (change)='convertFile(input)' id='fileInput' class="fileinput" #input>
                              <button type="submit" class="uploadbutton" *ngIf="!submittedbutton">Upload Data</button>
                        </form> 

                     
                  <!--     <form class="form-horizontal" (ngSubmit)="addNewAnalysis()" #newContentForm="ngForm">
                   
                        <ng-container>
                          <div class="form-group ">
                            <p>Analysis ID<input type="text" style="color:black;" class="form-control-custom modals-add" id="Analysis_id"
                                name="checkInput2" [(ngModel)]="idAnalysis" disabled></p>
                          </div>
                          <div class="form-group">
                            <p>Analysis<input type="text" class="form-control-custom modals-add" id="Analysis" name="checkInput" [(ngModel)]="dataAn.Analysis"
                                required="true"></p>
                          </div>
                        </ng-container>
                        <h6 style="font-size:12px; color:grey;"> * Nama Analysis tidak mengizinkan spasi di awal dan/atau diakhir </h6>

                        <button type="submit" class="btn btn-primary my-button2" [disabled]="!newContentForm.form.valid" *ngIf="!submitted">Add</button>
                        <button type="submit" class="btn btn-primary my-button2" [disabled]="newContentForm.form.valid" *ngIf="submitted"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button>
                        </form>
                -->
               

                    </div> 
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="uploadModal.hide()">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>

         </ul>
  </div>



        <!--   <table class="table table-hover table-striped table-sm" style="border-bottom: 0px;">
                <thead>
                  <tr class="my-card-header1">
                    <th class="text-center" style="width: 6%; border-bottom: 0px; border-right: 1px solid white; width: 50px; padding-bottom: 1%;">No</th>
                    <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding: 4px;width: 16%;padding-bottom: 1%;padding: 4px;">Recomemendation ID</th>
                    <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: .5%;">Recommendation Description</th>
                    <th class="text-center" style="border-bottom: 0px; border-right: padding-bottom: .5%; width: 16%;">Actions</th>

                  </tr>
                </thead>

            <tbody>
              <tr *ngFor="let item of pagedItems; let index = index">
                <td style="padding: 10px;">{{index + 1}}</td>
                <td style="padding: 10px;">{{item.Recommendation_id}}</td>
                <td style="padding: 10px;">{{item.Recommendation}}</td>
                <td style="text-align:center">
                  <a style="color:black" (click)="willEditContent(content,item)"><i class="fa fa-pencil" style="font-size: 150%;"></i></a>
                  <a style="color:black" (click)="dangerModal2.show(); willDeleteContent(content,item)"><i class="fa fa-times-circle fa-2x"></i></a></td>
              </tr>
            </tbody>
        </table> -->



       <table id="table1" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
               <thead>
                  <tr class="my-card-header1">
                    <th class="headertable">No</th>
                    <th class="headertable" >Recomemendation ID</th>
                    <th class="headertable" >Recommendation Description</th>
                    <th class="headertable" >Actions</th>


                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of contents; let index = index">
                      <td style="padding: 10px;">{{index + 1}}</td>
                      <td style="padding: 10px;">{{item.Recommendation_id}}</td>
                      <td style="padding: 10px;">{{item.Recommendation}}</td>
                      <td style="text-align:center">
                        <a style="color:black" (click)="willEditContent(content,item)"><i class="fa fa-pencil" style="font-size: 150%;"></i></a>
                        <a style="color:black" (click)="warningModal2.show(); willDeleteContent(content,item)"><i class="fa fa-times-circle fa-2x"></i></a></td>
                    </tr>
                </tbody>
        </table>



        <div bsModal #warningModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-warning" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Hapus Data</h4>
                <button type="button" class="close" (click)="warningModal2.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div *ngIf="!dinasExist" class="modal-body">
                <!-- <p>One fine body&hellip;</p> -->
                <p>Apakah anda yakin ingin menghapus Recommendation ini?</p>
                <h5>{{contentTitleWillBeDeleted}}</h5>
              </div>
              <div *ngIf="!dinasExist" class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="warningModal2.hide()">Batalkan</button>
                <button type="button" class="btn btn-primary" (click)="deleteContent(content, item); warningModal2.hide()">Hapus</button>
              </div>
            </div>
          </div>
        </div>

      <div class="animated fadeIn" *ngIf="showEditContent">
        <div *ngIf="anAvail" class="alert alert-warning" role="alert">Recommendation {{ recom.Recommendation }} sudah ada. Mohon masukkan Recommendation lain.</div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card my-card-style">
              <div class="card-header my-card-header">
                <i class="fa fa-edit"></i>Edit Recommendation
                <div class="card-actions">
                  <a class="btn-close" (click)="cancelEdit()"><i class="icon-close"></i></a>
                </div>
              </div>
              <div class="card-block">
                <form class="form-horizontal" (ngSubmit)="editContent()" #newContentForm="ngForm">
                  <!-- News -->
                  <ng-container>
                    <div class="form-group">
                      <p>Analysis<input type="text" style="color:black;" class="form-control-custom" id="Recommendation" name="Recommendation"
                          [(ngModel)]="recom.Recommendation" required="true"></p>
                    </div>
                  </ng-container>

                  <div class="form-actions">
                    <button type="submit" class="btn btn-primary my-button2" [disabled]="!newContentForm.form.valid" *ngIf="!submitted">Simpan</button>
                    <button type="submit" class="btn btn-primary my-button2" [disabled]="newContentForm.form.valid" *ngIf="submitted"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button>
                    <button class="btn btn-default my-button-secondary" type="button" (click)="cancelEdit()">Batalkan</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <nav>
        <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
          <li class="page-item" [class.disabled]="pager.currentPage === 1">
            <a (click)="setPage(1)" class="page-link" style="color: #191919;">First</a>
          </li>
          <li class="page-item active" [class.disabled]="pager.currentPage === 1">
            <a class="page-link" style="color: #191919;" (click)="setPage(pager.currentPage - 1)">Prev</a>
          </li>
          <li class="page-item" *ngFor="let page of pager.pages" [class.active]="pager.currentPage === page">
            <a (click)="setPage(page)" class="page-link" style="color: #191919;">{{page}}</a>
          </li>
          <li class="page-item" [class.disabled]="pager.currentPage === pager.totalPages">
            <a (click)="setPage(pager.currentPage + 1)" class="page-link" style="color: #191919;">Next</a>
          </li>
          <li class="page-item" [class.disabled]="pager.currentPage === pager.totalPages">
            <a class="page-link" (click)="setPage(pager.totalPages)" style="color: #191919;">Last</a>
          </li>

        </ul>
      </nav> -->
  </div>
  </div>
  </div>
</div>
</form>

























   