<script langauge="JavaScript">

function addRow()
{
   var arrTables = document.getElementById('myTable');
   var oRows = arrTables.rows;
   var numRows = oRows.length;

   var newRow = document.getElementById('myTable').insertRow( numRows );
   var cell1 = newRow.insertCell(0);
   var cell2 = newRow.insertCell(1);
   var cell3 = newRow.insertCell(2);

   cell1.innerHTML = numRows;
   cell2.innerHTML = numRows;
   cell3.innerHTML = numRows;
}

</script>



<!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script> -->


<div id="approvaltitlebox">
  <div class="row" style="background-color: white;">
      <div id="approvaltitle" class=col>
        <p>Solving Analysis Master</p>
      </div>
  </div>
    <div class="row" style="padding: 20px;">
    <div class="col-lg-12" style="padding-top: 20px;">
    <div class=" my-card">
    <div class="my-card-header2">

          <ul class="nav nav-tabs-active fontcolortab" style="padding-top: 5px;" >
                <p> <span class="headerfont" style="padding-bottom: 1px;">Solving Master</span></p>    
                <li style="float: right;margin-right: auto;"></li>
                <a class="nav-link" style="padding-top: 10px; color:white" data-toggle="modal" (click)="warningModal.show();"><i class="fa fa-plus-circle fa-2x "></i></a>
          
          <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-warning " role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Add New Solving</h5>
                </div>
                <div class="modal-body">

                  <div *ngIf="anAvail" class="alert alert-danger" role="alert">Data sudah ada. Mohon masukkan data lain.</div>

                  <!-- Form Analysis -->
                  <form class="form-horizontal" (ngSubmit)="addNewSolv()" #newContentForm="ngForm">
                    <ng-container>
                      <div class="form-group ">
                        <p>Solving ID<input type="text" style="color:black;" class="form-control-custom modals-add" id="Solving_id"
                            name="checkInput2" [(ngModel)]="idSolv" disabled></p>
                      </div>
                      <div class="form-group">
                        <p>Threshold
                          <select class="" name="Threshold_id" id="Threshold_id" disable aria-required="true" required="true" [(ngModel)]="Threshold_id"
                            (ngModelChange)="onChangeThres(null, $event)">
                                <option disabled selected value="null">Pilih Threshold</option>
                                  <ng-container *ngFor="let t of thresData">
                                <option [ngValue]="t">{{t.Threshold_id}}</option>
                                  </ng-container>
                              </select>
                        </p>
                      </div>
                      <div class="form-group">
                        <p>Analysis
                          <select class="" name="Analysis_id" id="Analysis_id" disable aria-required="true" required="true" [(ngModel)]="Analysis_id" (ngModelChange)="onChangeAnalysis(null, $event)">
                                <option disabled selected value="null">Pilih Analysis</option>
                                  <ng-container *ngFor="let p of analysisData">
                                <option [ngValue]="p">{{p.Analysis}}</option>
                                  </ng-container>
                              </select>
                        </p>
                      </div>
                      
                    </ng-container>
                    <!-- <h6 style="font-size:12px; color:grey;"> * Nama Parameter tidak mengizinkan spasi di awal dan/atau diakhir </h6> -->

                    <button type="submit" class="btn btn-primary my-button2" [disabled]="!newContentForm.form.valid" *ngIf="!submitted">Add</button>
                    <button type="submit" class="btn btn-primary my-button2" [disabled]="newContentForm.form.valid" *ngIf="submitted"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button>
                  </form>
                  <!-- Form Analysis -->

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Cancel</button>
                </div>
              </div>
            </div>
          </div>

         </ul>

  </div>

          <!-- <table id="myTable" class="table table-hover table-striped table-sm" style="border-bottom: 0px;" >
            <thead>
              <tr class="my-card-header1">
                <th class="text-center" style="width: 6%; border-bottom: 0px; border-right: 1px solid white; width: 50px; padding-bottom: 0.5%;">No</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 0.5%;">Threshold ID</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white;padding-bottom: 0.5%;">Analysis ID</th>
                <th class="text-center" style="border-bottom: 0px; padding-bottom: 0.5%;">Recommendation ID</th>
              </tr>
            </thead>
            <tbody>
              <td>
                    <input type="text" class="form-control-custom" id="no" placeholder="No">
                </td>
                <td>
                   <select class="form-control-custom" id="thresholdid" style="height: 37px;">
                        <option>Threshold ID 1</option>
                        <option>Threshold ID 2</option>
                        <option>Threshold ID 3</option>
                    </select>
                </td>
                <td>
                      <select class="form-control-custom" id="analysisid" style="height: 37px;">
                        <option>Analysis ID 1</option>
                        <option>Analysis ID 2</option>
                        <option>Analysis ID 3</option>
                    </select>
                </td>
                <td>
                     <select class="form-control-custom" id="recommendationid" style="height: 37px;">
                        <option>Recommendation ID 1</option>
                        <option>Recommendation ID 2</option>
                        <option>Recommendation ID 3</option>
                    </select>
                </td>
            </tbody>
          </table> -->


          <table id="table1" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
              <tr class="my-card-header1">
                <th class="headertable">No</th>
                <th class="headertable">Threshold ID</th>
                <th class="headertable">Analysis ID</th>
                <th class="headertable">Actions</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of contents; let index = index">
                <td style="padding: 10px;">{{index + 1}}</td>
                <td style="padding: 10px;">{{item.Threshold_id}}</td>
                <td style="padding: 10px;">{{item.Analysis_id}}</td>
                <td style="text-align:center">
                  <a (click)="willEditContent(content,item)"><i class="fa fa-pencil" style="font-size: 150%;"></i></a>
                  <a (click)="warningModal2.show(); willDeleteContent(content,item)"><i class="fa fa-times-circle fa-2x"></i></a></td>
              </tr>
            </tbody>
          </table>

          <div bsModal #warningModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-warning" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Hapus Data</h4>
                  <button type="button" class="close" (click)="warningModal2.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="!dinasExist" class="modal-body">
                  <!-- <p>One fine body&hellip;</p> -->
                  <p>Apakah anda yakin ingin menghapus ini?</p>
                  <h5>{{contentTitleWillBeDeleted}}</h5>
                </div>
                <div *ngIf="!dinasExist" class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="warningModal2.hide()">Batalkan</button>
                  <button type="button" class="btn btn-primary" (click)="deleteContent(content, item); warningModal2.hide()">Hapus</button>
                </div>
              </div>
            </div>
          </div>


          <div class="animated fadeIn" *ngIf="showEditContent">
            <div class="row">
              <div class="col-lg-12">
                <div class="card my-card-style">
                  <div class="card-header my-card-header">
                    <i class="fa fa-edit"></i>Edit Solving
                    <div class="card-actions">
                      <a class="btn-close" (click)="cancelEdit()"><i class="icon-close"></i></a>
                    </div>
                  </div>
                  <div class="card-block">
                    <form class="form-horizontal" (ngSubmit)="editContent()" #newContentForm="ngForm">
                      <!-- News -->
                      <ng-container>
                        <div class="form-group">
                          <p>Threshold
                            <select class="" name="Threshold_id" id="Threshold_id" disable aria-required="true" required="true" [(ngModel)]="Threshold_id"
                              (ngModelChange)="onChangeThresEdit(null, $event)">
                                <option disabled selected value="null">Pilih Threshold</option>
                                  <ng-container *ngFor="let t of thresData">
                                <option [ngValue]="t">{{t.Threshold_id}}</option>
                                  </ng-container>
                              </select>
                          </p>
                        </div>
                        <div class="form-group">
                          <p>Analysis
                            <select class="" name="Analysis_id" id="Analysis_id" disable aria-required="true" required="true" [(ngModel)]="Analysis_id"
                              (ngModelChange)="onChangeAnalysisEdit(null, $event)">
                                <option disabled selected value="null">Pilih Analysis</option>
                                  <ng-container *ngFor="let p of analysisData">
                                <option [ngValue]="p">{{p.Analysis}}</option>
                                  </ng-container>
                              </select>
                          </p>
                        </div>
                      </ng-container>

                      <div class="form-actions">
                        <button type="submit" class="btn btn-primary my-button2" [disabled]="!newContentForm.form.valid" *ngIf="!submitted">Simpan</button>
                        <button type="submit" class="btn btn-primary my-button2" [disabled]="newContentForm.form.valid" *ngIf="submitted"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button>
                        <button class="btn btn-default my-button-secondary" type="button" (click)="cancelEdit()">Batalkan</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#" style="color: #191919;">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">2</a></li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">3</a></li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">4</a></li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">Next</a></li>
            </ul>
          </nav> -->
     
      </div>
</div>
</div>

   