<script langauge="JavaScript">
  function addRow() {
    var arrTables = document.getElementById('myTable');
    var oRows = arrTables.rows;
    var numRows = oRows.length;

    var newRow = document.getElementById('myTable').insertRow(numRows);
    var cell1 = newRow.insertCell(0);
    var cell2 = newRow.insertCell(1);
    var cell3 = newRow.insertCell(2);

    cell1.innerHTML = numRows;
    cell2.innerHTML = numRows;
    cell3.innerHTML = numRows;
  }

</script>



<!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script> -->


<div id="approvaltitlebox">
  <div class="row" style="background-color: white;">
    <div id="approvaltitle" class=col>
      <p>Solving Master</p>
    </div>
  </div>
  <div class="row" style="padding: 20px;">
    <div class="col-lg-12" style="padding-top: 20px;">
      <div class=" my-card">
        <div class="my-card-header2">

          <ul class="nav nav-tabs-active fontcolortab" style="padding-top: 5px;">
            <p> <span class="headerfont" style="padding-bottom: 1px;">Solving Master</span></p>
            <li style="float: right;margin-right: auto;"></li>
            <a class="nav-link" style="padding-top: 10px; color:white" data-toggle="modal" (click)="warningModal.show();"><i class="fa fa-plus-circle fa-2x "></i></a>
            <a class="nav-link" style="padding-top: 10px; color:white"><i class="fa fa-download fa-2x "></i></a>
            <a class="nav-link" style="padding-top: 10px; color:white"><i class="fa fa-upload fa-2x "></i></a>




            <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-warning " role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Add New Solving Master</h5>
                  </div>
                  <div class="modal-body">

                    <!--  <div class="alert alert-warning" role="alert"></div> -->

                    <!-- Form Analysis -->
                    <form class="form-horizontal" (ngSubmit)="save()" #solvingMasterForm="ngForm">
                      <ng-container>
                        <div class="form-group ">
                          <!--   <p>Solving ID<input type="text" style="color:black;" class="form-control-custom modals-add" id="Solving_id"
                              name="Solving_id" [(ngModel)]="newIdSolving" disabled></p>
                          <p>Threshold ID <input type="text" style="color:black;" class="form-control-custom modals-add" id="Threshold_id"
                              name="threshold_Id" [(ngModel)]="newIdThreshold" disabled></p> -->
                          <p>Source
                            <select class="form-control-custom modals-solving" name="source" id="source" disable aria-required="true" required="true"
                              [(ngModel)]="Source" (ngModelChange)="onChangeSource(null, $event)">
                                <option disabled selected value="null">Pilih Source</option>
                                  <ng-container *ngFor="let at of allTrendData">
                                <option [ngValue]="at.trend_source">{{at.trend_source}}</option>
                                  </ng-container>
                              </select>
                          </p>
                          <p>Parameter Name
                            <select class="form-control-custom modals-solving" name="parameter" id="parameter" disable aria-required="true" required="true"
                              [(ngModel)]="Parameter" (ngModelChange)="onChangeParameter(null, $event)" [disabled]="!canSelectParameter">
                                <option disabled selected value="null">Pilih Parameter</option>
                                  <ng-container *ngFor="let ts of trendNameBySource">
                                <option [ngValue]="ts">{{ts.trend_name}}</option>
                                  </ng-container>
                              </select>
                          </p>
                          <p>Unit of Measure (UOM)
                            <select class="form-control-custom modals-solving" name="uom" id="uom" disable aria-required="true" required="true" [(ngModel)]="this.dataParameter.uom">                             
                                    <option disabled selected value="null">Pilih UOM</option>
                                    <ng-container *ngFor="let u of allUnitConversion">
                                      <option [ngValue]="u.to_unit">{{u.to_unit}}</option>
                                    </ng-container>
                              </select>
                            <p>Component
                              <input type="text" style="color:black; border-radius:0px;" class="form-control-custom modals-add" id="component" name="component" [(ngModel)]="this.dataParameter.Component"
                                required="true">
                            </p>

                            <div style="margin-bottom:10px"> Criticality </div>
                            <div class="boxcriticality">
                              <div class="row" style="margin-bottom:10px">
                                <div class="col" style="text-align: center;">
                                  Top
                                  <input type="checkbox" id="top" name="top" [(ngModel)]="top" [required]="top_bot_required" (click)="changeTop()">
                                </div>
                                <div class="col" style="text-align: center;">
                                  Bottom
                                  <input type="checkbox" id="bottom" name="bottom" [(ngModel)]="bottom" [required]="top_bot_required" (click)="changeBot()">
                                </div>
                              </div>

                              <div class="row" style="margin-bottom:5px">
                                <div class="col">
                                  Caution <input class="criticality" type="text" id="caution_top" name="caution_top" [(ngModel)]="caution_top" [disabled]="!top" [required]="top" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                                </div>
                                <div class="col">
                                  Caution <input class="criticality" type="text" id="caution_bottom" name="caution_bottom" [(ngModel)]="caution_bottom" [disabled]="!bottom" [required]="bottom" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                                </div>
                              </div>

                              <div class="row" style="margin-bottom:5px">
                                <div class="col">
                                  Critical <input type="text" id="critical_top" class="criticality" style="margin-left: 5px;" name="critical_top" [(ngModel)]="critical_top" [disabled]="!top" [required]="top" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                                </div>
                                <div class="col">
                                  Critical <input type="text" id="critical_bottom" class="criticality" style="margin-left: 5px;" name="critical_bottom" [(ngModel)]="critical_bottom" [disabled]="!bottom" [required]="bottom" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                                </div>
                              </div>
                            </div>

                            <!-- <p>Criticality ID
                              <select class="form-control-custom modals-add" name="criticality" id="criticality" disable aria-required="true" required="true"
                                [(ngModel)]="dataThres.Criticality"> 
                                      <option value="Caution Top">Caution Top</option>
                                      <option value="Caution Above">Caution Above</option>
                                      <option value="Critical Top">Critical Top</option>
                                      <option value="Critical Above">Critical Above</option>
                              </select>
                            </p> -->
                            <!--   <p>Limit
                                <input type="text" style="color:black;" class="form-control-custom modals-add" id="Limit_Value" name="Limit_Value" [(ngModel)]="dataThres.Limit_Value"
                                  required="true"></p> -->


                              <p>Model<input type="text" style="color:black; border-radius:0px;" class="form-control-custom " id="model" name="model" [(ngModel)]="dataThres.model" required="true"></p>
                              <p>Priority
                                <select class="form-control-custom modals-add" name="priority" id="priority" disable aria-required="true" required="true"
                                  [(ngModel)]="dataThres.priority"> 
                                      <option [ngValue]="1">1</option>
                                      <option [ngValue]="2">2</option>
                                      <option [ngValue]="3">3</option>
                              </select>
                            </p>
                      <!--       <p>Analysis
                              <select #analysisSelected multiple class="form-control-custom modals-solving" name="multiple_select_analysis" [(ngModel)]="selectedAnalysis"
                                style="height: 200px;" required> 
                                    <option disabled selected value="null">Pilih Analysis</option>
                                    <ng-container *ngFor="let a of analysisData">
                                      <option [ngValue]="a.Analysis_id">{{a.Analysis}}</option>
                                    </ng-container>
                                  </select> -->

<p>Analysis
<angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" name="analysisselect"
    [settings]="dropdownSettings" 
    (onSelect)="onItemSelect($event)" 
    (onDeSelect)="OnItemDeSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    (onDeSelectAll)="onDeSelectAll($event)">
</angular2-multiselect>
</p>

<p>Recommendation
<angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" name="recommendationanalysis"
    [settings]="dropdownSettings" 
    (onSelect)="onItemSelect($event)" 
    (onDeSelect)="OnItemDeSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    (onDeSelectAll)="onDeSelectAll($event)">
</angular2-multiselect>
</p>


<!-- 
                              <p>Recommendation
                                <select #recommendationSelected multiple class="form-control-custom modals-solving" name="multiple_select_recommendation"
                                  [(ngModel)]="selectedRecommendation" style="height: 200px;" required> 
                                    <option disabled selected value="null">Pilih Recommendation</option>
                                    <ng-container *ngFor="let r of recommenData">
                                      <option [ngValue]="r.Recommendation_id">{{r.Recommendation}}</option>
                                    </ng-container>
                                    </select>
                              </p> -->
                        </div>
                        <div *ngIf="countThresTop" class="alert alert-danger" role="alert">Data Threshold dengan Top tersebut sudah ada.</div>
                        <div *ngIf="countThresBot" class="alert alert-danger" role="alert">Data Threshold dengan Bottom tersebut sudah ada.</div>
                        <div *ngIf="paramAvail" class="alert alert-danger" role="alert">Data Parameter sudah ada.</div>
                        <div *ngIf="anAvail" class="alert alert-danger" role="alert">Data Threshold sudah ada. </div>
                        <div *ngIf="analysisNotSelected" class="alert alert-danger" role="alert">Analysis harus dipilih minimal satu.</div>
                        <div *ngIf="recommendationNotSelected" class="alert alert-danger" role="alert">Recommendation harus dipilih minimal satu.</div>
                      </ng-container>
                      <!--  <h6 style="font-size:12px; color:grey;"> * Nama Parameter tidak mengizinkan spasi di awal dan/atau diakhir </h6>
 -->
                      <button type="submit" class="btn btn-primary my-button2" *ngIf="!submitted">Tambah</button>
                      <button type="submit" class="btn btn-primary my-button2" [disabled]="solvingMasterForm.form.valid" *ngIf="submitted"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button>
                      <!--      <button type="submit" class="btn btn-primary my-button2" ><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button> -->
                    </form>
                    <!-- Form Analysis -->

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>

          </ul>

        </div>

        <!-- <table id="myTable" class="table table-hover table-striped table-sm" style="border-bottom: 0px;" >
            <thead>
              <tr class="my-card-header1">
                <th class="text-center" style="width: 6%; border-bottom: 0px; border-right: 1px solid white; width: 50px; padding-bottom: 0.5%;">No</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 0.5%;">Threshold ID</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white;padding-bottom: 0.5%;">Analysis ID</th>
                <th class="text-center" style="border-bottom: 0px; padding-bottom: 0.5%;">Recommendation ID</th>
              </tr>
            </thead>
            <tbody>
              <td>
                    <input type="text" class="form-control-custom" id="no" placeholder="No">
                </td>
                <td>
                   <select class="form-control-custom" id="thresholdid" style="height: 37px;">
                        <option>Threshold ID 1</option>
                        <option>Threshold ID 2</option>
                        <option>Threshold ID 3</option>
                    </select>
                </td>
                <td>
                      <select class="form-control-custom" id="analysisid" style="height: 37px;">
                        <option>Analysis ID 1</option>
                        <option>Analysis ID 2</option>
                        <option>Analysis ID 3</option>
                    </select>
                </td>
                <td>
                     <select class="form-control-custom" id="recommendationid" style="height: 37px;">
                        <option>Recommendation ID 1</option>
                        <option>Recommendation ID 2</option>
                        <option>Recommendation ID 3</option>
                    </select>
                </td>
            </tbody>
          </table> -->


        <table id="table1" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr class="my-card-header1">
              <th class="headertable">Threshold ID</th>
              <th class="headertable">Analysis</th>
              <th class="headertable">Recommendation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let solv of allSolvMaster;let index = index" style="text-align:center">
              <td>
                {{ solv.Threshold_id }}
              </td>
              <td>
                {{ solv.analysis_description }}
                <!--  <select class="form-control-custom" id="analysisid" style="height: 37px;">
                        <option>Analysis ID 1</option>
                        <option>Analysis ID 2</option>
                        <option>Analysis ID 3</option>
                    </select> -->
              </td>
              <td>
                {{ solv.recommendation_description }}
                <!-- <select class="form-control-custom" id="recommendationid" style="height: 37px;">
                        <option>Recommendation ID 1</option>
                        <option>Recommendation ID 2</option>
                        <option>Recommendation ID 3</option>
                    </select> -->

              </td>
            </tr>
          </tbody>
        </table>




        <!-- <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#" style="color: #191919;">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">2</a></li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">3</a></li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">4</a></li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">Next</a></li>
            </ul>
          </nav> -->

      </div>
    </div>
  </div>