<!-- 
 <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
 -->

<div id="approvaltitlebox">
  <div class="row" style="background-color: white;">
      <div id="approvaltitle" class=col>
        <p>Threshold</p>
      </div>
  </div>

    <div class="row" style="padding: 20px;">
    <div class="col-lg-12" style="padding-top: 20px;">
    <div class=" my-card">
      <div class="my-card-header2"> 
          <ul class="nav nav-tabs-active fontcolortab" style="padding-top: 5px;" >
                <p> <span class="headerfont" style="padding-bottom: 1px;">Threshold</span></p>    
                <li style="float: right;margin-right: auto;"></li>
                <!-- <a class="nav-link" style="padding-top: 10px; color:white" data-toggle="modal" (click)="warningModal.show();"><i class="fa fa-plus-circle fa-2x "></i></a> -->
                
          
          
          <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-warning" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Add New Threshold</h4>
                </div>
                <div class="modal-body">

                  <div *ngIf="anAvail" class="alert alert-danger" role="alert">Data sudah ada. Mohon masukkan data lain.</div>
                  <form class="form-horizontal" (ngSubmit)="addNewThres()" #newContentForm="ngForm">
                    <!-- Form Threshold -->
                    <ng-container>
                    <div class="form-group ">
                      <p>Threshold ID<input type="text" style="color:black;" class="form-control-custom modals-add" id="Threshold_id"
                          name="checkInput2" [(ngModel)]="idThres" disabled></p>
                    </div>
                    <div class="form-group">
                      <p>Parameter
                        <select class="" name="Parameter_id" id="Parameter_id" disable aria-required="true" required="true" [(ngModel)]="Parameter_id"
                          (ngModelChange)="onChangeThres(null, $event)">
                                <option disabled selected value="null">Pilih Parameter</option>
                                  <ng-container *ngFor="let t of thresData">
                                <option [ngValue]="t">{{t.Parameter}}</option>
                                  </ng-container>
                              </select>
                    </div>
                    <div class="form-group">
                      <p>Criticality
                        <select class="" name="Criticality" id="Criticality" disable aria-required="true" required="true" [(ngModel)]="Criticality"
                          (ngModelChange)="onChangeCri(null, $event)">
                                <option disabled selected value="null">Pilih Source</option>
                                  <ng-container *ngFor="let t of critiData">
                                <option [ngValue]="t">{{t.Criticality}}</option>
                                  </ng-container>
                              </select>
                      </p>
                    </div>
                    <div class="form-group">
                      <p>Limit Value<input type="text" style="color:black;" class="form-control-custom modals-add" id="Limit_Value"
                          name="Limit_Value" [(ngModel)]="dataThres.Limit_Value" required="true"></p>
                    </div>
                   
                    </ng-container>

                    <button type="submit" class="btn btn-primary my-button2" [disabled]="!newContentForm.form.valid" *ngIf="!submitted">Add</button>
                    <button type="submit" class="btn btn-primary my-button2" [disabled]="newContentForm.form.valid" *ngIf="submitted"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button>
                  </form>
                  <!-- Form Threshold -->

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          
          </ul>

           
      </div>
      <!-- <table id="table1" datatable="ng" dt-options dtTrigger class="row-border hover">
         <thead>
                    <tr>
                      <th class="headertable" >No</th>
                      <th class="headertable" >Threshold ID</th>
                      <th class="headertable" >Parameter ID</th>
                      <th class="headertable" >Criteria</th>
                      <th class="headertable" >Error Bottom</th>
                      <th class="headertable" >Error Top</th>
                    </tr>
        </thead>
        <tbody>
                      <tr>
                         <td>70071871
                          </td>
                          <td>Service
                          </td>
                          <td>parameter id
                          </td>
                          <td>PS 250 EX1713
                          </td>
                          <td>PC2000
                          </td>
                          <td>FM-ADRTP
                          </td> 
                      </tr>
                      <tr>
                          <td>aaaa
                          </td>
                          <td>bbbb
                          </td>
                          <td>cccc
                          </td>
                          <td>dddd
                          </td>
                          <td>eeee
                          </td>
                          <td>ffff
                          </td> 
                      </tr>
        </tbody>
      </table> -->

      <table id="table1" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr class="my-card-header1">
            <th class="headertable">No</th>
            <th class="headertable">Threshold ID</th>
            <th class="headertable">Parameter Name</th>
            <th class="headertable">Criticality</th>
            <th class="headertable">Model</th>
            <th class="headertable">Limit Value</th>
            <th class="headertable">Actions</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of ThresWithPara; let index = index;">
            <td style="padding: 10px;">{{index + 1}}</td>
            <td style="padding: 10px;">{{item.Threshold_id}}</td>
            <td style="padding: 10px;">{{item.Parameter}}</td>
            <td style="padding: 10px;">{{item.Criticality}}</td>
            <td style="padding: 10px;">{{item.Model}}</td>
            <td style="padding: 10px;">{{item.Limit_Value}}</td>
            <td style="text-align:center">
                    <a style="color:black" (click)="willEditContent(content,item)"><i class="fa fa-pencil" style="font-size: 150%;"></i></a>
                    <a style="color:black" (click)="warningModal2.show(); willDeleteContent(content,item)"><i class="fa fa-times-circle fa-2x"></i></a>
            </td>
          </tr>
        </tbody>
      </table>


      <div bsModal #warningModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-warning" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Hapus Data</h4>
              <button type="button" class="close" (click)="warningModal2.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="!dinasExist" class="modal-body">
              <!-- <p>One fine body&hellip;</p> -->
              <p>Apakah anda yakin ingin menghapus Threshold ini?</p>
              <h5>{{contentTitleWillBeDeleted}}</h5>
            </div>
            <div *ngIf="!dinasExist" class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="warningModal2.hide()">Batalkan</button>
              <button type="button" class="btn btn-primary" (click)="deleteContent(content, item); warningModal2.hide()">Hapus</button>
            </div>
          </div>
        </div>
      </div>

      <div class="animated fadeIn" *ngIf="showEditContent">
        <div class="row">
          <div class="col-lg-12">
            <div class="card my-card-style">
              <div class="card-header my-card-header">
                <i class="fa fa-edit"></i>Edit Threshold
                <div class="card-actions">
                  <a class="btn-close" (click)="cancelEdit()"><i class="icon-close"></i></a>
                </div>
              </div>
              <div class="card-block">
                <form class="form-horizontal" (ngSubmit)="editContent()" #newContentForm="ngForm">
                  <!-- News -->
                  <ng-container>
                    <div class="form-group">
                      <p>Parameter
                        <select class="" name="Parameter_id" id="Parameter_id" disable aria-required="true" required="true" [(ngModel)]="Parameter_id"
                          (ngModelChange)="onChangeThresEdit(null, $event)">
                                <option disabled selected value="null">Pilih Parameter</option>
                                  <ng-container *ngFor="let t of thresData">
                                <option [ngValue]="t">{{t.Parameter}}</option>
                                  </ng-container>
                              </select>
                    </div>
                    <div class="form-group">
                      <p>Criticality
                        <select class="" name="Criticality" id="Criticality" disable aria-required="true" required="true" [(ngModel)]="Criticality"
                          (ngModelChange)="onChangeCriEdit(null, $event)">
                                <option disabled selected value="null">Pilih Source</option>
                                  <ng-container *ngFor="let t of critiData">
                                <option [ngValue]="t">{{t.Criticality}}</option>
                                  </ng-container>
                              </select>
                      </p>
                    </div>
                    <div class="form-group">
                      <p>Limit Value<input type="text" style="color:black;" class="form-control-custom modals-add" id="Limit_Value"
                          name="Limit_Value" [(ngModel)]="para.Limit_Value" required="true"></p>
                    </div>
                  </ng-container>

                  <div class="form-actions">
                    <button type="submit" class="btn btn-primary my-button2" [disabled]="!newContentForm.form.valid" *ngIf="!submitted">Simpan</button>
                    <button type="submit" class="btn btn-primary my-button2" [disabled]="newContentForm.form.valid" *ngIf="submitted"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button>
                    <button class="btn btn-default my-button-secondary" type="button" (click)="cancelEdit()">Batalkan</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  </div>
</div>

























   