<div id="approvaltitlebox">
  <div class="row" style="background-color: white;">
    <div id="approvaltitle" class=col>
      <p>Unit Conversion</p>
    </div>
  </div>

  <div class="row" style="padding: 20px;">
    <div class="col-lg-12" style="padding-top: 20px;">
      <div class=" my-card">
        <div class="my-card-header2">
          <ul class="nav nav-tabs-active fontcolortab" style="padding-top: 5px;">
            <p> <span class="headerfont" style="padding-bottom: 1px;">Conversion</span></p>
            <li style="float: right;margin-right: auto;"></li>
            <a class="nav-link" style="padding-top: 10px; color:white" data-toggle="modal" (click)="warningModal.show();"><i class="fa fa-plus-circle fa-2x "></i></a>
            <a class="nav-link" style="padding-top: 10px; color:white"><i class="fa fa-download fa-2x "></i></a>


            <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-warning " role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Add New Data</h5>
                  </div>
                  <div class="modal-body">

                    <!--  <div class="alert alert-warning" role="alert"></div> -->

                    <!-- Form Analysis -->
                    <div *ngIf="anAvail" class="alert alert-danger" role="alert">Data sudah ada. Mohon masukkan data lain.</div>
                    <form class="form-horizontal" (ngSubmit)="addNew()" #ucForm="ngForm">
                      <ng-container>
                        <div class="form-group ">
                          <p>From Unit<input type="text" style="color:black;" class="form-control-custom modals-add" id="from_unit"
                              name="from_unit" [(ngModel)]="dataUnitConv.from_unit" required></p>
                          <p>To Unit <input type="text" style="color:black;" class="form-control-custom modals-add" id="to_unit"
                              name="to_unit" [(ngModel)]="dataUnitConv.to_unit" required></p>
                          <p>Factor <input type="text" style="color:black;" class="form-control-custom modals-add" id="factor"
                              name="convert_value" [(ngModel)]="Convert_value" required></p>
                        </div>
                      </ng-container>
                      <!-- <h6 style="font-size:12px; color:grey;"> * Nama Parameter tidak mengizinkan spasi di awal dan/atau diakhir </h6> -->

                      <button type="submit" class="btn btn-primary my-button2" [disabled]="!ucForm.form.valid" *ngIf="!submitted">Add</button>
                      <button type="submit" class="btn btn-primary my-button2" [disabled]="ucForm.form.valid" *ngIf="submitted"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button>
                      <!--      <button type="submit" class="btn btn-primary my-button2" ><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button> -->
                    </form>
                    <!-- Form Analysis -->

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>

          </ul>
        </div>


        <table id="table1" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th class="headertable">From Unit</th>
              <th class="headertable">To Unit</th>
              <th class="headertable">Factor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let uc of allUnitConversionData;  let index = index" style="text-align:center">
              <td>{{ uc.from_unit }}</td>
              <td>{{ uc.to_unit }}</td>
              <td>{{ uc.convert_value }}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
