<style>
    #drop-area {
        border: 3px dotted #FFEE00;
        height: 100px;
        background-color: white;
    }

    #drop-area p {
        color: grey;
    }
</style>

<div class="col-md-12" id="approvaltitlebox">
    <!-- <div class="row" style="background-color: white;">
        <div id="approvaltitle" class=col>
            <p>UPLOAD</p>
        </div>
    </div> -->

    <h3>Select a folder to upload</h3>

    <div>
        <input #folderInput type="file" (change)="filesPicked(folderInput.files)" webkitDirectory>
    </div>
    <br>
    <br>
    <h3 *ngIf="uploadPaths.length > 0">Upload Data</h3>

    <div *ngFor="let path of uploadPaths">{{path}}</div>
</div>