<!-- <br>
<h3 style="padding-left:30px;">User Management</h3>
<div class="row" style="padding: 20px;">
    <div class="col-lg-12" style="padding-top: 20px;">
     
<div class="searchfield ">
  <input class= "searchtext" id="searchfield" type="text" placeholder="Search Keyword Here ...">
  <button type="submit" class="searchbutton1">Search
  </button>
</div>

<br>


      <div class="card my-card">
        <div class="my-card-header2"> 

          <ul class="nav nav-tabs-active fontcolortab" style="padding-top: 5px;" >
          <p> <span class="headerfont" style="padding-bottom: 1px;">User Management</span></p>    
      
         <li style="float: right;margin-right: auto;"></li>
    
                <a class="nav-link" style="padding-top: 10px; color:white" href="#"><i class="fa fa-plus-circle fa-2x "></i></a>
                <a class="nav-link" style="padding-top: 10px; color:white" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
                <a class="nav-link" style="padding-top: 10px; color:white" href="#"><i class="fa fa-floppy-o fa-2x"></i></a>
       



         </ul>
  </div>

          <table class="table table-hover table-striped table-sm" style="border-bottom: 0px;">
            <thead>
              <tr class="my-card-header1">
                <th class="text-center" style="width: 6%; border-bottom: 0px; border-right: 1px solid white; width: 50px; padding-bottom: 0.5%;">No</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 0.5%;">Recommendation</th>
                <th class="text-center" style="border-bottom: 0px; border-right: 1px solid white; padding-bottom: 0.5%;">Email</th>
                 <th class="text-center" style="border-bottom: 0px; padding-bottom: 0.5%;">SMS</th>
              </tr>
            </thead>
            <tbody>
                <td>
                     <input type="text" class="form-control-custom" id="arnumber" placeholder="No">
                </td>
                <td>
                     <select class="form-control-custom" id="arrecom" placeholder="Select Recommendation No">
                          <option>Select Recommendation No.</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                    </select>
                </td>
                <td style="text-align: center;">
                    <div class="form-control-custom" style="background-color: white;height: 37.5px;">
                      <input type="checkbox" id="useremail" name="inline-checkbox1" value="option1" style="padding-left: 200%;" > 
                    </div>
                 </td>
                <td style="text-align: center;">
                    <div class="form-control-custom" style="background-color: white;height: 37.5px;">
                      <input type="checkbox" id="usersms" name="inline-checkbox1" value="option2" style="padding-left: 200%;" > 
                    </div>
                 </td>

            </tbody>
          </table>


          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#" style="color: #191919;">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">2</a></li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">3</a></li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">4</a></li>
              <li class="page-item"><a class="page-link" href="#" style="color: #191919;">Next</a></li>
            </ul>
          </nav>
     
      </div>
</div>
</div>

























    -->