.nav-tabs {
  border:none;
  .nav-link {
    color: #607d8b; //font
    border-radius: 2px 2px 0 0;
    &.active {
      color: $gray-dark;
      background: #ffd400;
      border-bottom: 1px solid #ffd400;
      //border-color: $border-color;
      //border-bottom-color: #fff;
      &:focus {
        background: #ffd800;
        //border-color: $border-color;
       // border-bottom-color: #fff;
      }
    }
  }
}

.tab-content {
  margin-top: -1px;
  // background: #fff;
  //border: 1px solid $border-color;
  .tab-pane {
    //padding: $spacer-y $spacer-x;
    //background-color: #191919;
  }
}

.card-block {
  .tab-content {
    margin-top: 0;
    border: 0;
  }
}
