// Here you can add other styles
.button-login{
    height: 44px;
    border-radius: 6px;
    padding-right: 64px !important;
    padding-left: 64px !important;
    box-shadow: 0 12px 40px 0 rgba(25, 25, 25, 0.36);
    color: #191919;
    font-family: Roboto;
    font-weight: bold;
    background-color: #ffc400;
    border: 0;
}

.button-login:active{
    height: 44px;
    border-radius: 6px;
    padding-right: 64px !important;
    padding-left: 64px !important;
    box-shadow: 0 12px 40px 0 rgba(25, 25, 25, 0.36);
    color: #191919;
    font-family: Roboto;
    font-weight: bold;
    background-color: #ffc400;
    border: 0;
}

.button-login:hover{
    height: 44px;
    border-radius: 6px;
    padding-right: 64px !important;
    padding-left: 64px !important;
    box-shadow: none !important;
    color: #191919;
    font-family: Roboto;
    font-weight: bold;
    background-color: #ffc400;
    border: 0;
}